@charset "utf-8";
@import url(./themes/dark.css);
@import url(./themes/light.css);
@import url(../font-awesome/css/all.css);

/* CSS Document */


@font-face {
	font-family: "Akzidenz";
	src: local("Akzidenz"), url("/css/fonts/akzidenz-grotesk-light.ttf"); 
}

@font-face {
	font-family: "Akzidenz Roman";
	src: url("/css/fonts/akzidenz-grotesk-roman.eot"); 
	src: local("Akzidenz Roman"),
			 url("/css/fonts/akzidenz-grotesk-roman.eot?#iefix") format('embedded-opentype'),
			 url("/css/fonts/akzidenz-grotesk-roman.woff2") format('woff2'),
			 url("/css/fonts/akzidenz-grotesk-roman.woff") format('woff'),
			 url("/css/fonts/akzidenz-grotesk-roman.ttf") format('truetype');
			 font-display: swap;
}

@font-face {
	font-family: "Akzidenz";
	font-weight: bold;
	src: local("Akzidenz"), url("/css/fonts/akzidenz-grotesk-bold.ttf"); 
}

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/NotoNastaliqUrdu-Regular.eot');
  src: local("Noto Nastaliq Urdu"),
       url('/css/fonts/NotoNastaliqUrdu-Regular.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.woff2') format('woff2'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.woff') format('woff'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('/css/fonts/KFGQPCUthmanTahaNaskh.eot');
    src: local('KFGQPC Uthman Taha Naskh'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.woff2') format('woff2'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.woff') format('woff'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.eot');
    src: local('KFGQPC Uthman Taha Naskh Bold'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.woff2') format('woff2'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.woff') format('woff'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('/css/fonts/hindsiliguri-bold-webfont.woff2') format('woff2'),
         url('/css/fonts/hindsiliguri-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('/css/fonts/hindsiliguri-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/hindsiliguri-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
	--global-text-color:none;
	/* none */
	--primary-text-color:#ffffff;
	/* #000 */
	--secondary-text-color:#ffffff;
	/* #666 */
	--toolbar-bg-color:#272F33; 
	/* rgba(251, 250, 248, 0.2) */
	--header-bg:#343A40;
	/* url(../images/banner_small.png) */
	--site-bg:#1F2125;
	/* url(../images/bg_small.png); */
	--footer-bg:#272F33;
	/* url(../images/banner_small.png) */
	--collection_sep_box_shadow:0px 1px 2px 1px rgb(78 65 65 / 50%);
	/* 0px 1px 2px 1px rgba(204, 204, 204, 0.5) */
	--indexserachquery_bg: #272F33;
	/* rgba(255, 255, 255, 0.65) */
	--indexserachquery_shadow:0px 0px 9pt 2pt #1a1919;
	/* 0px 0px 9pt 2pt #ccc */
	--collection_info_bg:#272F33;
	/* rgba(255, 255, 255, 0.5) */
	--collection_sep_bg:transparent;
	/* #ccc */
	--collection-info_text_color:#ffffff;
	/* #666 */
	--book_title_odd_bg:transparent;
	/* rgba(255, 255, 255, 0.6) */
	--book_title_even_bg:#272F33;
	/* rgba(255, 255, 255, 0.4) */
	--book_rannge_text_color:#ffffff;
	/* #666 */
	--crumbs_bg:#272F33;
	/* rgba(251, 250, 248, 0.2) */
	--searchquery_bg:#272F33;
	/* rgba(255, 255, 255, 0.85) */
	--searchquer_shadow:0px 0px 9px 2pt #2b2b2d;
	/* 0px 0px 9pt 2pt #75a1a1 */
	--secondry_block_bg:#272F33;
	/* rgba(255, 255, 255, 0.5) */
	--hadith_translation_color:#ffffff;
	/* #08081a */
	--sidePanel_bg:#272F33;
	/* url(../images/banner_small.png) */
	--indexsearchtips_bg:#272F33;
	/* rgba(255, 255, 255, 0.5) */
	--sanad_text_color:#B3B6BC;
	/* gray */
	--highlight-color: #3d938c;	
	--disable_button_bg:#6C757D;
	/* #d6d6d6 */
	--boh_hover_bg:#343A40;
	/* #ffffff */
	--sticky-color: #90b8b9;
	--link-color: #50a3a3;
}

*{
	color: var(--global-text-color);
}
body{
	background: var(--site-bg);
}

.clear{ clear:both; }

html,body{
    margin:0;
    padding:0;
    height: 100%;
    font-family: "Akzidenz Roman", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height:1.5;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

a:hover {
	text-decoration: underline
}

input,
textarea {
	color:#2d2d2d;
}

:-ms-input-placeholder { color:#ccc }
::-ms-input-placeholder { color:#ccc }
::placeholder { color:#ccc;opacity: 1 }

.nounderline:hover { text-decoration: none; }

.arabic {
    direction: rtl;
    font-family: KFGQPC Uthman Taha Naskh, KFGQPC Uthmanic Script HAFS, Scheherazade, /* Traditional Arabic,*/ Trebuchet MS, Arial, Helvetica;
    font-size: 19px;
	text-align: justify;
}

.urdu {
	direction:rtl;
	font-family: 'Noto Nastaliq Urdu', Fajer Noori Nastalique, Jameel Noori Nastaleeq, Nafees Web Naskh, Urdu Naskh Asiatype, serif;
	font-size: 20px;
	text-align: justify;
	line-height: 2.35;
	font-size: 13px;
}

.bangla {
	font-family: 'Hind Siliguri', 'Noto Sans Bengali', serif;
	font-size: 20px;
	text-align: justify;
	line-height: 2.35;
	font-size: 13px;
}

.saws {
	background-image: url('/images/sallallahu_alaihi_wa_sallam.png');
	background-size: 15px 15px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: inline;
	height: 0px;
	width: 0px;
	padding: 0 7.5px 0 7.5px;
}
.arabic,.urdu,.bangla,.saws{
	color: var(--primary-text-color); 
}
.sawsimg {
	height: 15px;
	margin-bottom: -3px;
}

.saws span {
	display: none;
}

#site{
	background: var(--site-bg);
	background-position: center top;
	width:100%;
	min-width: 1170px;
	overflow: auto;
	min-height: 100%;
	position: relative;
	padding-bottom: 70px;
	box-sizing: border-box;
}


#header {
	width: 100%;
	background: var(--header-bg);
	background-repeat: repeat;
	position: relative;
	z-index: 20;
}

#toolbar {
	z-index: 5;
	height: 18px;
	font-size: 12px;
	font-family: Arial;
	padding-top: 3px;
	width: 100%;
	line-height: normal;
	background-color: var(--toolbar-bg-color);
}

#toolbarRight {
	color: #fff;
	float: right;
	padding-right: 8px;
	display: flex;
	height: 100%;
	
}

#toolbarRight a {
	color: #fff;
	text-decoration: none;
	padding:0 7px;
	
}

#toggle-theme-btn{
	height:100%; 
	display: flex;
}

#toggle-theme-btn:hover{
	cursor: pointer;
}

#toggle-theme-btn svg{
	height: 100%;
}

#toggle-theme-btn .moon{
	display: none;
}

#toolbarRight a:hover {
	text-decoration: underline;
}

#banner {
	width: 50%;
	float: left;
}

.bannerTop {
	height: 70px;
	background-image: url(../images/logo-small.png);
	background-repeat: no-repeat;
	background-position: 64%;
	background-size: auto 70%;
}

.bannerTopo {
	height: 70px;
	background-image: url(../images/image-logo.png) , url(../images/text-logo.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 34%, 76%;
	background-size: auto 75%, auto 45%;
}

.bannerMiddle {
	height: 36px;
	background-image: url(../images/logo-small.png);
	background-repeat: no-repeat;
	background-position: 48%;
	background-size: auto 67%;
}


#back-to-top {
	display: block;
	margin: 3px 10px 3px 10px;
	width: 35px;
	height: 35px;
	border-radius: 4px;
	float: right;
	position: fixed;
	right: 10px;
	top: 65px;
	opacity: .5;
}

.bttenabled {
	background-color: rgb(124 172 173);
	mix-blend-mode: darken;
}
.bttenabled:before {
   content: "u";
   font-family: "icn-font";
   color: #ffffff;
   font-size: 26px;
   line-height: 34px;
   text-align: center;
   display: block;
}
.bttenabled:hover {
	background-color: #3b8789;
	opacity: 1;
	filter: alpha(opacity=1);
}
#topspace {
	height: 117px; /* This needs to be height of whole header + height of short header - visible height of tall header on length change + crumbs height*/
	width: 100px;
	display: none;
}

.sidePanelContainer {
	width: 15%; 
	float: left;
	overflow: auto;
	height: 100%;
	margin-right: 15px;
	top: 0;
	left: 0;
}

#sidePanel { 
	float: right;  
    margin-left: 20px;
    margin-right: 20px;
	background: var(--sidePanel_bg);
	background-repeat: repeat;
    margin-top: 20px;
    border-radius:10px;
}

#languagePanel {
    border-radius:10px;
    padding: 15px;
    padding-top: 15px;
    color: #fff;
    padding-bottom: 15px;
    /* height: 100px; */
    /*position: fixed;*/
    text-align: left;
    background-color: var(--crumbs_bg);
    font-size: 12px;
    font-family: Arial, Verdana;
    font-weight: bold;
    width: 127px;
}

#languagePanel input {
	vertical-align: sub;
}

.home .mainContainer {
	float: none;
	margin: auto;
}

.mainContainer,
.home.has_right_panel .mainContainer {
	width: 70%;
	float: left;
}

#nonheader {
	position: relative;
}

.home #nonheader {
    margin: 0 10px 0 30px;
}

#main {
	margin: auto;
	background-repeat: repeat;
	padding-left:0px;
	padding-right:0px;
	padding-top: 10px;
	border: 0px solid;
	float: center;
}

#rightPanel {
	height: 470px;
	margin: 10px 10px 10px 0px;
	float: right;
	width: 328px;
	min-width: 328px;
}

#hcarousel > li {
    opacity: 0;
    list-style: none;
    pointer-events: none;
    position: absolute;
    transition: .7s all cubic-bezier(0.22, 0.61, 0.36, 1);
    top: 0;
    left: 0;
    transform: translate(-100%);
}
#hcarousel > .show + li {
	transform: translate(100%);
}
#hcarousel > .show {
    opacity: 1;
    pointer-events: all;
    transform: none;
}
.carousel_item {
    padding: 30px 30px;
    box-sizing: border-box;
	margin: 0px auto;
}
.carousel_item .english_hadith_full:before,
.carousel_item .arabic_hadith_full:before,
.carousel_item .urdu_hadith_full:before,
.carousel_item .bangla_hadith_full:before {
    display: none;
}
.carousel_item .english_hadith_full {
	font-size: inherit;
}
.hcarousel_container {
    background-color: var(--secondry_block_bg);;
    border-radius: 5px;
    height: 90%;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
}
.hcarousel_container:hover .carousel_nav {
    opacity: 1;
}
.carousel_nav {
    position: absolute;
    cursor: pointer;
    bottom: 13px;
    font-size: 10px;
    right: 5px;
    color: #ffffff;
    opacity: 0;
    height: 20px;
    width: 20px;
    background: var(--link-color);
    line-height: 21px;
    border-radius: 15px;
    text-align: center;
    transition: .2s all ease;
    box-sizing: border-box;
}
.carousel_nav.back:before{
	letter-spacing: 2px;
}
.carousel_nav.next:before{
	letter-spacing: -1px;
}
.carousel_nav.back {
	left: 5px;
}
.carousel_nav:hover {
    filter: brightness(80%);
}

.hcarousel_container:before {
    content: '';
    position: absolute;
    top: 20px;
    left: -200px;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.footer {
    text-align: center;
	background: var(--footer-bg);
    background-repeat: repeat;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border: 0px solid;
    font-size: 16px;
    padding-top: 4px;
	color: #fff;
	position: absolute;
	bottom: 0;
	height: 30px;
}

.footer a{
	color: #fff;
	text-decoration: none;
}

#indextag {
	font-size: 20px; 
	font-variant: small-caps;
	font-weight: bold;
	color: #75A1A1;
}

.indexsearchcontainer {
    width: 380px;
	margin: auto;
}

#indexsearch {
	margin:auto;
	margin-top: 15px;
	position:relative;
}
#search {
	position: absolute;
	bottom: 45px;
	right: 150px;
	float: right;
}

#searchbar {
	height:29px;
	position:relative;
	float: right;
	width: 280px;
}
#searchform {
    margin-top: 1px;
}

.indexsearchquery {
	font-size: 18px;
	width: 100%;
	height: 40px;
	border:0px;
	border-radius: 8px;
	padding: 0 2.25em 0 .8em;
	box-sizing: border-box;
	background-color: var(--indexserachquery_bg);
	box-shadow: var(--indexserachquery_shadow);
	color: var(--primary-text-color);
	
}

.indexsearchquery:focus {
    box-shadow: 0px 0px 11pt 3pt #75a1a1;
}
.searchquery {
	border:0;
	width: 100%;
	height: 29px;
	padding: 0 2em 0 .75em;
	font-size: 14px;
	background-color: var(--searchquery_bg);
	border-radius: 5px;
	box-shadow: var(--searchquer_shadow);
	box-sizing: border-box;
	
}

input.searchquery{
	color: var(--primary-text-color);
}

.indexsearchquery:focus { outline: none; }
.searchquery:focus {
	box-shadow: 0px 0px 9pt 2pt #ccc;
    outline: none;
}

.indexsearchsubmit,
.searchsubmit {
	border:0px;
	cursor: pointer;
	position:absolute;
	top: 0px;
	right: 0;
	width:17px;
	font-family: "icn-font";
	font-size: 17px;
	color: #5F9999;
	height: 28px;
	background: 0;
	box-sizing: content-box;
}
.indexsearchsubmit {
	height: 40px;
	width: 34px;
	font-size: 24px;
}

.indexsearchtipslink {
	float: right;
	font-size: 12px;
	padding-right: 10px;
	padding-top: 5px;
	cursor: pointer
}

.indexsearchtipslink:hover {
    color:#84B8B8;
}

#search a {color: #fff;}
#searchtips a { color: #5d8080; }

#searchtips {
	width: 300px;
	background:var(--site-bg);
	background-repeat: repeat-x repeat-y;
	z-index: 10;
	border-radius: 4px;
	color: #666;
	float: right;
	margin-bottom: 10px;
	display: none;
	font-size: 12px;
	padding: 15px;
	position: absolute;
	top: 30px;	
	border: 1px solid rgba(0,0,0,.20);
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
	right: 30px;
}


#indexsearchtips {
    width: 45%;
    background-color: var(--indexsearchtips_bg);
    border-radius: 8px;
    color: #666;
    float: right;
    margin-bottom: 10px;
    display: none;
    font-size: 12px;
    padding: 5px;
    width: 98%;
    height: 315px;
}

#searchtips p {
	margin-top: 5px;
	margin-bottom: 0;
}

.collections {
	width: 100%;
	margin: auto;
	margin-top: 15px;
}

.collection_titles {
    width: 49%;
    float: left;
    border: 0px solid;
}

.collection_title {
	width: 90%;
	margin: auto;
	border-radius: 5px;
	background-color: var(--secondry_block_bg);
}

.english_collection_title {
    font-size: 16px;
    display: inline-block;
    direction: ltr;
    padding-top: 5px;
    margin-top: auto;
    width: 50%;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border: 0px solid;
    box-sizing: border-box;
    vertical-align: middle;
    color:#75A1A1;
}
.arabic_collection_title {
	vertical-align: top;
    font-size: 26px;
	display: inline-block;
	width: 42%;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    border: 0px solid;
    color:#75A1A1;
}

.collection_titles a {
    text-decoration: none;
    line-height: 30px;
}

.collection_titles a:hover {
    text-decoration: none;
    color:#84B8B8;
}

.collection_sep {
	background-color: var(--collection_sep_bg);
	height: 1px;
	opacity: 0.3;
	width: 85%;
	margin: auto;
	box-shadow:var(--collection_sep_box_shadow);
	-webkit-box-shadow: var(--collection_sep_box_shadow);
	-moz-box-shadow: var(--collection_sep_box_shadow);
}

.crumbs{
    font-size: 13px;
    color: #fff;
	background-color: var(--crumbs_bg);
	padding: 3px 0px 5px 5px;
	padding-left: 17.5%;
}

.crumbs a {color: #fff; }
.crumbs a:visited { color: #eee; }

.collection_info {
	width: 95%;
	background-color: var(--collection_info_bg);
	border-radius: 5px;
	color: var(--collection-info_text_color);
	margin-top: 7px;
	padding: 10px;
	box-sizing: border-box;
}

.colindextitle {
	float: left;
	padding: 5px 10px 5px 10px;
	text-align: justify;
	width: 100%;
	box-sizing: border-box;
}

.colindextitle.incomplete {
    width: 64%;
}

.progress_text {
    padding-top: 3px 4px 0 7px;
    float: left;
}

.colindextitle .arabic {
    float: right;
    font-size: 26px;
}

.colindextitle .english {
    float: left;
    font-size: 22px;
    padding-top: 5px;
}
.col_progress {
	width: 32%;
	float: right;
	font-size: 18px;
	padding-top: 15px;
}

.progress_full {
	background-image: url('/images/progress_full.png');
	background-size: 13px 30px;
	background-repeat: repeat-x;
	height: 30px;
	float: left;
}

.progress_half {
	background-image: url('/images/progress_half.png');
	background-size: 9px 30px;
	background-repeat: repeat-x;
	height: 30px;
	float: left;
}

.titles {
	margin-top: 25px;
	border-radius: 8px;
	font-size: 17px;
}
.book_titles {
	width: 95%;
}


.title:first-child {
	border-radius: 8px 8px 0 0;
}

.title:last-child {
	border-radius: 0 0 8px 8px;
}

.title:nth-child(odd) {
	background-color: var(--book_title_odd_bg);
}

.title:nth-child(even) {
	background-color: var(--book_title_even_bg);
}

.title {
	padding: 5px 0 0 20px;
}

.title a:hover {
	color:#84B8B8;
}

.title_number {
	float: left;
	min-width: 27px;
	height: 30px;
	padding-top: 6px;
	padding-right: 8px;
}

.title .english {
	width: 30%;
	float: left;
	min-height: 30px;
	padding-top: 6px;
}
.title .arabic {
	width: 37%;
	float: left;
	font-size: 24px;
	text-align: right;
}
.title .english_chapter_name {
	width: 47%;	
}
.title .arabic_chapter_name {
	width: 47%;
	font-size: 20px;
	padding-right: 10px;
	box-sizing: border-box;
}

.book_range {
	float: left;
	color: var(--book_rannge_text_color);
	padding: 6px 0 0 55px;
	vertical-align: middle;
	margin: auto;
	margin-right: 25px;
}

.book_range > div {
	width: 40px;
	float: left;
	text-align: center;
}
.book_range > div:first-child + div {
	padding: 0 20px;
	width: auto;
}

.book_info {
	width: 94%;
	padding-left: 10px;
	color: var(--primary-text-color);
}

.book_page_colindextitle {
	float: left;
	width: 100%;
	padding: 5px 20px 5px 5px;
	margin-left: 0px;
	text-align: justify;
}

.book_page_number {
	float: left;
	font-size: 24px;
	padding-top: 5px;
	width: 5%;
}

.book_page_english_name {
	float: left;
	font-size: 24px;
	padding-top: 5px;
	width: 47%;
	text-align: left;
}

.book_page_arabic_name {
	float: right;
	font-size: 30px;
	/* padding-right: 10px; */
	width: 47%;
}
/* Hisn al-Muslim */
.chapter_index_container {
    width: 80%;
    margin: 0 auto;
}
.chapter_index {
	font-size: 15px;
	margin-bottom: 1em;
}
.chapter_link {
    padding: 0 0 0 20px;
}
.transliteration {
    white-space: pre-line;
    display: block;
    font-size: 16px;
    margin-bottom: 1em;
    line-height: 2.55;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
}

.hadith_container_hisn .arabic_hadith_full {
    line-height: 1.5;
}

.hadith_container_hisn  .arabic_text_details {
    font-size: 27px;
	text-align: right;
    white-space: pre-line;
}

.hadith_container_hisn .translation {
    white-space: pre-line;
}

.hisn_arabic_instructions {
    color: gray;
}

.hadith_container_mishkat .text_details {
	white-space: pre-line;
}

.hadith_container_nawawi40 .text_details {
	white-space: pre-line;
}

.hadith_container_ahmad .text_details {
	white-space: pre-line;
}

.hadith_container_nasai .text_details {
	white-space: pre-line;
}

.reference_label {
    display: block;
    margin-top: 1em;
}
.hisn_english_reference,
.reference_label {
    font-size: 13px
}

.virtuesintro {
    width: 55%; 
    padding-top: 15px; 
    margin: auto; 
    text-align: justify;
}


.AllHadith > a:not([href]) {
	scroll-margin-top: 60px;
	scroll-snap-margin-top: 60px;
}
/* Hisn collapsed chapter list */

.hisn_chapters_initial_height {
    height: 49vh;
}

.book_intro_initial_height {
    height: 65vh;
}

.collapsed {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-bottom: 3em;
}
.collapsible:not(.collapsed) .button_expand {
    display: none;
}

.button_expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6em;
    padding-bottom: .5em;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 51%) 20% ,#faf9f6 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.button_expand:after {
    content: ">";
    transform: rotateZ(90deg);
    font-family: icn-font;
    text-decoration: none;
}
.button_expand:hover {
    text-shadow: 2px 0px 5px #75a7a842;
    text-decoration: none;
    color: #84B8B8;
    cursor: pointer;
}
/* / Hisn al-Muslim */
.surah {
    background-color: rgba(95, 153, 153, 0.3);
    color: #666;
    width: 100%;
    padding: 5px 15px 10px 15px;
    border-radius: 10px;
    margin-top: 24px;
    box-sizing: border-box;
}
.surah:first-child {
	margin-top: 20px;
}

.chapter {
    background-color: var(--secondry_block_bg);
    color: var(--secondary-text-color);
    width: 100%;
    padding: 5px 15px 10px 15px;
    border-radius: 10px;
    margin-top: 24px;
    box-sizing: border-box;
}
.chapter:first-child {
	margin-top: 20px;
}
.englishchapter {
    float: left;
    max-width: 43%;
    font-size: 13pt;
    border: 0px solid;
	padding-top: 3px;
}

.echapno {
    float: left;
    padding-right: 10px;
    font-size: 20px;
    border: 0px solid;
}

.arabicchapter {
    float: right;
    padding-left: 10px;
    max-width: 42%;
    font-size: 22px;
    border: 0px solid;
}

.achapno {
    float: right;
    padding-left: 8px;
    font-size: 20px;
    border: 0px solid;
}

.achapintro {
	padding: 15px 45px 10px 20px;
	font-size: 20px;
	text-align: justify;
	width: 42%;
	float: right;
}
.achapintro.aconly {
    width: 80%;
    margin-right: 4%;
}

.echapintro {
	padding: 15px 0 10px 45px;
    text-align: justify;
    font-size: 13px;
	width: 42%;
	float: left;
}
.echapintro.econly {
    width: 80%;
    margin-right: 4%;
}

.bookintro {
	white-space: pre-line;
}

.ebookintro {
	font-size: 15px;
	float: left;
	width: 48%;
}

.abookintro {
	float: right;
	width: 48%;
	font-size: 22px;
}

.bookintro p { margin:1em; text-align: justify;}

.AllHadith {
    padding-left:10px;
    padding-top: 20px;
    margin:0 auto;
    width: 94%;
}
/* col1 is a sub class for AllHadith */
.col1 {
	width: 70%;
}

.actualHadithContainer {
	background-color: var(--secondry_block_bg);
	border-radius: 10px;
	margin: 10px 3px 10px 3px;
	width: 100%; /* for <1line hadith */
	box-shadow: 0 21px 28px -21px rgba(0,0,0,.09), 0 22px 29px rgba(0,0,0,.02);
}

.hadith_narrated  {
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    padding-bottom:8px;
}
.hadith_narrated p{
	color:#5d8080;
}

.text_details{
    font-size:14px;
    color:var(--hadith_translation_color);
    text-decoration:none;
    text-align: justify;
}

.hadithTextContainers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    padding: 10px 15px 0;
}

.englishcontainer {
    text-align:justify;
}

.english_hadith_full {
    font-size: 24px;
}

.english_hadith_full p{ padding:0; margin:0}

.arabic_hadith_full {
    text-align:justify;
    font-size: 19px;
    line-height: 1.8;
}

.englishcontainer,
.arabic_hadith_full {
    position: relative;
}

.english_hadith_full:before,
.arabic_hadith_full:before,
.urdu_hadith_full:before,
.bangla_hadith_full:before {
    content: " ";
    background-image: url(../images/hadith_icon2_huge.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -44px;
}

.arabic_hadith_full:before {
    left: auto;
    right: -44px;
}

.urdu_hadith_full {
    text-decoration:none;
    padding-bottom: 10px;
    color:var(--hadith_translation_color);
}

.bangla_hadith_full {
    text-decoration:none;
    padding-bottom: 10px;
    color:var(--hadith_translation_color);
}

.indonesian_hadith_full{
    font-size:13px;
    color:var(--hadith_translation_color);
    text-decoration:none;
	padding: 10px 0 10px 15px;
}

.arabic_annotation {
    padding-left:28px;
    text-align:justify;
    direction:rtl;
    font-size: 18px;
}

.arabic_sanad {
    text-align:justify;
    direction:rtl;
    color:var(--sanad_text_color)
}

.arabic_text_details {
     text-align:justify;
     direction:rtl;
}

.urdu_sanad {
    color: var(--sanad_text_color);
}

.hadith_annotation {
    width: 100%;
    font-size: 13px;
    color:var(--hadith_translation_color);
    text-decoration:none;
    text-align: justify;
    border: 0px solid;
}

.hadith_permalink {
    font-size: 11px;
    text-decoration: none;
    line-height: 11px;
    text-align: left;
    font-family: Verdana, sans-serif;
    border-width: 0px;
    border-style: solid;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    float: right;
    padding-bottom: 10px;
    border: 0px solid;
	user-select: none;
}
.hadith_permalink span{
	color: #5F9999;
}

.hadith_permalink a {
    text-decoration: none;
    line-height: 11px;
    text-align: left;
    font-family: Verdana, sans-serif;
    border-width: 0px;
    border-style: solid;
}

.hadith_permalink a:hover {
    text-decoration: underline;
}

.hadith_reference {
    font-size: 11px;
    text-decoration: none;
    line-height: 15px;
    text-align: left;
    font-family: Verdana, sans-serif;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 10px;
    /* color: #96691e; */
	color: var(--primary-text-color);
    float: left;
    /* width: 50%; */
    overflow: auto;
    border: 0px solid;
}

.reference_value {
    max-width: 55%;
    float: left;
    display: inline
}
.reference_type {
    max-width: 45%;
    min-width: 28%;
    float: left;
}

.deprecated_reference {
    color: #8E8E8E;
}

.bottomItems {
    width: 100%;
    overflow: visible;
	padding-top: 17px;
}

.gradetable {
	width: 100%;
	padding: 0 25px 0 15px;
}

.english_grade {
    vertical-align: top;
    font-size: 14px;
    font-family: Verdana;
    padding-top: 10px;
    text-align: left;
	height: 100%;
}

.arabic_grade {
    vertical-align: top;
    direction: rtl;
    text-align: right;
}

.bc_search {
	border-radius: 10px 10px 0 0;
	padding: 5px 0 0px 15px;
	margin: 0 3px 0px 3px;
	font-size: 15px;
	font-weight: bold;
	color: rgb(93, 128, 128);
}

.bc_search .a {
	color: rgb(93, 128, 128);
}

.boh {
	border-radius: 10px;
	background-color: var(--secondry_block_bg);
	box-shadow: 0 21px 28px -21px rgba(0,0,0,.09), 0 22px 29px rgba(0,0,0,.02);
	margin-bottom: 20px;
}
.boh .actualHadithContainer {
	box-shadow: none;
	margin-bottom: 5em;
}
.boh:hover {
	background-color: var(--boh_hover_bg);
}

.searchlink {
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
	/* edit: added z-index */
	z-index: 1;
}

.searchmore {
	float: right;
	padding: 0 10px 8px 0;
}

.bc_search ~ .actualHadithContainer .english_hadith_full b > i {
    font-style: normal;
}

.bc_search ~ .actualHadithContainer .hadith_narrated b {
	color: var(--primary-text-color);
}

.bc_search ~ .actualHadithContainer .english_hadith_full b {
    margin: 0 .25em;
}

.about {
    padding-left: 10%;
	padding-right: 10%;
    text-align: justify;
    padding-top: 10px;
    font-size: 16px;
    margin-bottom: 50px;
}

.about a {
    color: #178f92;
    font-weight: bold;
}

.abouttitle {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding-left: 10%;
	padding-top: 10px;
	width: 70%;
}

.section {
	font-size: 18px;
	font-weight: bold;
}

.reporterrorbox {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	display: none;
	/*width: 100%;*/
}

.leftre {
	float: left;
	padding-right: 30px;
}

.resubmit {
	background-color: rgb(117, 161, 161);
	width: 150px;
	height: 35px;
	margin: auto;
	border-radius: 8px;
	color: var(--primary-text-color);
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.reresp {
	width: auto;
	height: 20px;
	padding-top: 5px;
	margin: auto;
	text-align: center;
	font-size: 14px;
	color: red;
}

#sharefuzz {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter:alpha(opacity=0);
	background: #000;
	z-index: 10;
	display: none;
}

.share_mb {
	position: fixed;
	left: 30%;
	top: 20%;
	display: none;
	height: 130px;
	border: 1px solid #fff;
	box-shadow: 0px 2px 7px #292929;
	border-radius: 6px;
	background:var(--site-bg);
	z-index: 50;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 5px;
}

.sharelink, .copycbcaret, .reportlink, .copylink {
	cursor: pointer;
	position: relative;
}

.copycbcaret:hover, .reportlink:hover, .sharelink:hover, .copylink:hover {
	color: #426a6a;
}
#cb_flyout {
	position: absolute;
	display: flex;
	gap: 15px;
    margin-top: 17px;
	margin-left: -251px;
	background:url(../images/bg_small.png);
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 10;
	border-radius: 4px;
	font-size: 12px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,.20);
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}
#cb_flyout fieldset {
	border:1px dashed #aaa; 
	border-radius:3px; 
	padding-bottom: 4px;
	width: 100px;
	margin: 0;
}
#cb_flyout label {
	display: block; 
	cursor: pointer;
	padding: 0px;
	margin: 8px 0;
}
#cb_flyout label input {
	margin: 0 5px 0 0;
	vertical-align: text-top;
}
.copylink {
	transition: 1s all;
}
.copylink.success {
	color: #07ad07;
	text-shadow: 0 0 2px #fff, 0 0 5px #77e877;	
}
.copylink.success:after {
    content:"\2714\0020";
    position: absolute;
    font-size: 20px;
    margin-left: -20px;
    opacity: 0;
    animation: checkmark 2.5s ease;
}
@keyframes checkmark {
  0%   { opacity: 0; top:-5px;}
  20%  { opacity: .8; top:-16px;}
  80%  { opacity: .8; top:-16px;}
  100% { opacity: 0; top:-5px;}
}


.share_close {
	position: relative;
	top: -25px;
	left: 20px;
	float: right;
	display: block;
	height: 25px;
	width: 25px;
	background: url('/images/close.png') no-repeat;
}

.permalink_box {
	padding: 4px;
	padding-top: 5px;
	font-size: 14px;
	border-radius: 4px;
	text-align: center;
}

.permalink_box:focus {
	box-shadow: 0px 1px 6pt 1pt #bdf4fc;
	outline: none;
}
.share_buttons {
	margin: auto;
}
.share_button {
	padding-top: 10px;
	margin-left: 5px;
}
.share_button a {
	text-decoration: none;
	border-radius: 50%;
	padding: 6px 4px;
	font-size: 1.25em;
	color:white;
}
.share_button .icn-fb{
	background: #3c5b9b;
}
.share_button .icn-twitter{
	background: #2caae1;
}
.share_button a:hover {
	filter: brightness(125%);
	text-decoration: none;
}

/* WhatsApp and Telegram share buttons */
.share_button >.icn-whatsapp{
	background-color: #07ad07;
}
.share_button >.icn-telegram{
	background-color: #178f92;
}


.hadith_reference_sticky {
    display: none;
}

/* Hadith Navigation */
.button {
    display: inline-block;
    padding: 7px 20px;
    background: var(--secondry_block_bg);
    color: #75a7a8;
    border-radius: 5px;
    box-shadow: 0 1px 24px -7px rgba(0,0,0,.15), 0 15px 24px rgba(0,0,0,.16);
    transition: .3s all ease;
    line-height: 1.3;
}

.button:hover {
	box-shadow: 0 11px 8px -11px rgba(0,0,0,.15), 0 22px 19px rgba(0,0,0,.16);
}

.button[disabled] {
    background-color: var(--disable_button_bg);
    color: #afafaf;
    box-shadow: none;
    cursor: not-allowed;
}

.hadith_nav_wrapper {
	margin: 20px 3px;
	float: left;
	width: 100%;
}

.hadith_nav_wrapper .button.next {
	float: right;
}
.hadith_nav i {
	font-size: .95em;
}
.hadith_nav i:before {
	margin: 0;
}

.footer .sm_links {
	display: inline;
    font-size: .75em;
    line-height: 16px;
}
.sm_links a {
    margin: 0 .1em;
    vertical-align: text-bottom;
}
.sm_links:before {
    content: " | ";
    font-size: 16px;
}

/* Smaller Screens */
@media (max-width: 768px) {

    body {
        font-size: 16px;
	}
	#back-to-top {
		top: 102px;
		right: auto;
		left: 5px;
		z-index: 1;
		opacity: .8;
		width: 27px;
		height: 27px;
		border-radius: 6px;
	}
	.bttenabled {
		background-color: var(--sticky-color);
		mix-blend-mode: unset;
	}
	.bttenabled:before {
		font-size: 23px;
		line-height: 27px;
	}
	
	.hadithTextContainers {
	    overflow: hidden;	
	}

    .text_details {
        font-size: 16px;
	}
	
    .AllHadith .arabic {
        font-size: 25px;
	}
	
    .urdu {
        font-size: 17px;
    }
    
    .bangla {
        font-size: 17px;
    }
    
    #site{
	   min-width: auto;
    }

	.collection_title {
		width: auto;
		margin-bottom: 3px;
	}

	.home #nonheader {
		margin: 0;
		padding: 0 1.5em;
	}

	#toolbar {
		font-size: 15px;
		height: 1.7em;
		line-height: 1.7;
	}

    .bannerTop {
        height: 40px;
        background-position: 50%;
        background-size: auto 50%;
	}
	
    #search {
        position: initial;
        float: unset;
        padding: 0 .5em .5em .5em;
        width: 100%;
        max-width: 410px;
        box-sizing: border-box;
        margin: 0 auto;
        align-content: space-evenly;
        align-items: center;
	}
	.indexsearchquery {
        font-size: 16px;
        padding-right: 2.7em;
	}

	#indexsearchtips {
		font-size: 16px;
		height: 555px;
	}
	#searchtips {
		top: 90px;
		position: absolute;
	}
    #searchbar {
        width: auto;
    }
    .crumbs {
        padding: 3px .5em 5px;
        white-space: nowrap;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
	}
	
	.ebookintro { width: 95%; }
	.abookintro { width: 95%; }
    
	.book_info,
    .AllHadith {
        padding: 10px 20px;
        width: auto;
        padding: 0;
	}
	
/*     .arabic, */
    .achapintro,
    .echapintro {
        width: 100%;
        margin-right: 0;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 0px;
	}
	
    .englishchapter,
    .arabicchapter {
        max-width: calc(100% - 50px);
        padding-left: 0;
	}
	
    .englishchapter {
        margin-bottom: 1em;
	}
	
    .actualHadithContainer,
    .chapter {
        border-radius: 0;
        box-shadow: 0 0 15px #00000012;
        margin: 0px 0 10px 0;
	}
	
    .sidePanelContainer,
    .mainContainer,
    .home.has_right_panel .mainContainer {
        width: 100%;
        float: none;
        margin: 0;
	}
	
    #sidePanel {
        float: none;
        margin: 20px 1em 0;
        margin: 0;
        border-radius: 0;
	}
	
    #languagePanel {
        width: auto;
	}
	
    #languagePanel > div {
        display: inline;
        margin-left: 8px;
	}
	
	.colindextitle.incomplete,
	.col_progress {
		width: 99%;
	}

	.col_progress {
		width: 99%;
		margin-bottom: 15px;
	}

    .book_page_colindextitle {
        padding: 0px 1em;
        width: 100%;
        float: none;
        box-sizing: border-box;
        margin: 1.5em 0;
	}

	.book_page_number {
		display: inline;
		float: none;
	}

	.book_page_english_name {
		display: inline;
		float: none;
	}

    .book_page_arabic_name {
        padding: 0;
        text-align: right;
	}
	
    .englishcontainer,
    .urdu_hadith_full,
    .english_hadith_full,
    .arabic_hadith_full,
    .bangla_hadith_full {
        width: auto;
	}
	
    .actualHadithContainer {
        box-sizing: border-box;
        margin: 0 0 65px 0;
	}
		
    .single_hadith .actualHadithContainer {
        margin-bottom: 10px;
	}
	
	.english_hadith_full:before,
	.arabic_hadith_full:before,
	.urdu_hadith_full:before,
	.bangla_hadith_full:before {
		position: absolute;
		height: 24px;
		width: 14px;
		right: auto;
		top: auto;
		left: -20px;
		background-position: right;
		top: 0;
	}

	.arabic_hadith_full:before,
	.urdu_hadith_full:before {
		left: auto;
		right: -20px;
		background-position: left;
		top: 4px;
	}

	.urdu_hadith_full:before {
		top: 9px;
	}
	
	.bangla_hadith_full:before {
		top: 9px;
	}
	
    .hadith_reference {
        padding: 1em 0 0 0;
        width: 100%;
	}
	
    .hadith_permalink {
        float: left;
        padding: 20px 0px 10px ;
	}
	
    #site {
        min-width: auto;
		position: relative;
		overflow: initial;
		padding-bottom: 5em;
	}

	.hadith_reference_sticky {
		display: block;
		background-color: var(--sticky-color);
		color: white;
		text-align: right;
		padding: 5px 20px 7px;
		position: sticky;
		left: 0;
		top: 100px;
		box-sizing: border-box;
		z-index: 1;
		border-top: 2px solid var(--sticky-color);
	}

    .collection_titles,
	.collection_info {
        width: 100%;
	}
	
    .english_collection_title {
        box-sizing: border-box;
        width: 48%;
        margin-right: 4%;
        padding-right: 0;
	}
	
    #banner {
    	width: 100%;
	}
	
    /* Books */
    .book_titles {
        width: 100%;
	}
	
    .title {
        padding: 5px 20px 20px 20px;
	}
	
    .title_number {
        width: 2.1em;
		padding-right: 0;
	}

    .title .english {
        min-width: 40%;
		width: calc(55% - 2.1em);
	}
	
    .title .arabic {
        width: 45%;
        padding-left: 3%;
        box-sizing: border-box;
		float: right;
	}
	
    .book_range {
		width: 100%;
		padding: 0;
		margin-top: .5em;
		padding-left: 2.1em;
		box-sizing: border-box;
	}
	
    .book_range > div {
        width:auto;
        margin: auto;
        float: none;
	}
	
	.book_range > div {
        display: inline-block;
    }
    /* Book: Hisn */
    .chapter_index_container {
		width: 100%;
    }
    .AllHadith > a:not([href]) {
		scroll-margin-top: 100px;
		scroll-snap-margin-top: 100px;
	}

    .bc_search {
    	margin-top: 1em;
	}

	.indexsearchcontainer {
		width: 98%
	}

	.hadith_nav_wrapper {
		margin: 20px 10px;
		float: none;
		width: auto;
	}
	#cb_flyout {
		margin-left: -150px
	}
    .footer {
	    height: 70px;
	   }
	.footer .sm_links {
		display: block;
		font-size: .8em;
		margin: 1em auto 1em;
		line-height: initial;
	}
	.sm_links a {
		margin: auto .5em
	}
	.sm_links:before {
		display: none;
	}
	.hadith_container_hisn {
		display: flex;
		flex-direction: column;
	}
	.hadith_container_hisn .arabic_hadith_full {
		order: 0;
		margin-top: 0;
		margin-bottom: 1em;
	}
	.hadith_container_hisn .englishcontainer,
	.hadith_container_hisn .bottomItems {
		order: 1;
	}
	
    .virtuesintro {
        width: 100%;
        padding-top: 15px; 
        margin: auto; 
        text-align: justify;
    }
	/* Ramadan Home */
	#rightPanel {
		min-width: auto;
		width: 100%;
		margin: 0 0 70px;
	}
}

.centertext {
	text-align: center;
}

em {
    border-radius: 4px;
    box-shadow: 1px 0px 0 0px var(--highlight-color), -1px 0px 0 0px var(--highlight-color);
    background: var(--highlight-color);
}

/* Contact  page*/
.btn.btn-primary{
	background: var(--secondry_block_bg);
}


/* Medium screen, retina, stuff to override above media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) {
	  .bannerTop {
			  height: 70px;
			  background-image: url(../images/equal-logo_small.png);
			  background-repeat: no-repeat;
			  background-position: 64%;
			  background-size: auto 70%;
  	}
}
