@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/NotoNastaliqUrdu-Regular.eot');
  src: local("Noto Nastaliq Urdu"),
       url('/css/fonts/NotoNastaliqUrdu-Regular.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.woff2') format('woff2'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.woff') format('woff'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('/css/fonts/KFGQPCUthmanTahaNaskh.eot');
    src: local('KFGQPC Uthman Taha Naskh'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.woff2') format('woff2'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.woff') format('woff'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.eot');
    src: local('KFGQPC Uthman Taha Naskh Bold'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.woff2') format('woff2'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.woff') format('woff'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.clear{ clear:both; }

/* .centertext {
	text-align: center;	
} */

html,body{
    margin:0;
    padding:0;
    height: 100%;
	font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height:1.5;
}

h1, h2, h3, h4, h5, h6 {
	color: #343434;
}

a {
	text-decoration: none;
	color: #037d7d;
}

a:hover {
	text-decoration: underline
}

input,
textarea {
	color:#2d2d2d;
}


:-ms-input-placeholder { color:darkgray }
::-ms-input-placeholder { color:darkgray }
::placeholder { color:darkgray; opacity: 1 }

.nounderline:hover { text-decoration: none; }

.arabic {
    direction: rtl;
    font-family: 'KFGQPC Uthman Taha Naskh', 'KFGQPC Uthmanic Script HAFS', 'Scheherazade', /* Traditional Arabic,*/ 'Trebuchet MS', 'Arial', 'Helvetica';
}

.urdu {
	direction:rtl;
	font-family: 'Noto Nastaliq Urdu', 'Fajer Noori Nastalique', 'Jameel Noori Nastaleeq', 'Nafees Web Naskh', 'Urdu Naskh Asiatype', serif;
	text-align: justify;
	line-height: 2.3;
	font-size: 16px;
}

.single_hadith .urdu {
	line-height: 2.35;
	font-size: 17px;
}

.saws {
	background-image: url('/images/sallallahu_alaihi_wa_sallam.png');
	background-size: 15px 15px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: inline;
	height: 0px;
	width: 0px;
	padding: 0 7.5px 0 7.5px;
}

.sawsimg {
	height: 15px;
	margin-bottom: -3px;
}

.saws span {
	display: none;
}

#site{
	background:url(../images/bg_small.png);
	background-position: center top;
	width:100%;
	min-width: 1170px;
	overflow: auto;
	min-height: 100%;
	position: relative;
	padding-bottom: 57px;
	box-sizing: border-box;
}


#header {
	width: 100%;
	background-image: url(../images/banner_small.png);
	background-repeat: repeat;
	position: relative;
	z-index: 20;
}

#toolbar {
	z-index: 5;
	font-size: 13px;
	width: 100%;
	background-color: rgba(251, 250, 248, 0.2);
	user-select: none;
}

#toolbarRight {
	color: #fff;
	text-align: right;
}

#toolbarRight a {
	color: #fff;
	text-decoration: none;
	padding: 2px 15px;
	border: 1px solid transparent;
	display: inline-block;
}

#toolbarRight a:hover {
	color: #037d7d;
	background-color: rgba(255,255,255,0.75);
	font-weight: bold;
}

#toolbarRight .quran_link {
	width: 41px;
}

#toolbarRight .audio_link {
	width: 36px;
}

#toolbarRight .sunnah_link {
	background-color: rgba(255,255,255,0.5);
	cursor: default;
	color: #037d7d;
}

#toolbarRight .sunnah_link:hover {
	background-color: rgba(255,255,255,0.5);
}

#toolbarRight .prayer_times_link {
	border-right: 1px solid rgba(255,255,255,0.5);
	width: 81px;
}

#toolbarRight .prayer_times_link:hover {
	border-right: 1px solid transparent;
}

#banner {
	width: 353px;
    float: left;
}

.bannerTop {
	margin-left: 15%;
	height: 70px;
	background-image: url(../images/logo-small.png);
	background-repeat: no-repeat;
	background-position: 0 10px;
	background-size: auto 70%;
}

.bannerTopo {
	height: 70px;
	background-image: url(../images/image-logo.png) , url(../images/text-logo.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 34%, 76%;
	background-size: auto 75%, auto 45%;
}

.bannerMiddle {
	margin-left: 15%;
	height: 36px;
	background-image: url(../images/logo-small.png);
	background-repeat: no-repeat;
	background-position: 0%;
	background-size: auto 67%;
}


#back-to-top {
	display: block;
	margin: 3px 10px 3px 10px;
	width: 35px;
	height: 35px;
	border-radius: 4px;
	float: right;
	position: fixed;
	right: 10px;
	top: 65px;
	opacity: .5;
}

.bttenabled {
	background-color: rgb(124 172 173);
	mix-blend-mode: darken;
}
.bttenabled:before {
   content: "u";
   font-family: "icn-font";
   color: #ffffff;
   font-size: 26px;
   line-height: 34px;
   text-align: center;
   display: block;
}
.bttenabled:hover {
	background-color: #3b8789;
	opacity: 1;
	filter: alpha(opacity=1);
}
#topspace {
	height: 117px; /* This needs to be height of whole header + height of short header - visible height of tall header on length change + crumbs height*/
	width: 100px;
	display: none;
}

.sidePanelContainer {
	width: 15%; 
	float: left;
	overflow: auto;
	height: 100%;
	top: 0;
	left: 0;
}

#sidePanel { 
	width: 132px;
    margin-top: 25px;
	background-image: url(../images/banner_small.png);
	background-repeat: repeat;
    border-radius: 0 3px 3px 0;
	position: fixed;
}

#languagePanel {
    border-radius: 4px;
    padding: 3px 10px 12px 7px;
    color: #fff;
    text-align: left;
    background-color: rgba(251, 250, 248, 0.2);
    font-size: 13px;
}

fieldset#translation_panel {
	border: 1px dashed #c0d7d7;
	border-radius: 3px;
}

.home .mainContainer {
	float: none;
	margin: auto;
	margin-bottom: 15px;
}

.mainContainer,
.home.has_right_panel .mainContainer {
	width: 70%;
	float: left;
}

#nonheader {
	position: relative;
}

#main {
	margin: auto;
	background-repeat: repeat;
	/* padding-left:0px;
	padding-right:0px;
	padding-top: 10px;
	border: 0px solid;
	float: center; */
}

#rightPanel {
	height: 470px;
	margin: 10px 10px 10px 0px;
	float: right;
	width: 328px;
	min-width: 328px;
}

#hcarousel > li {
    opacity: 0;
    list-style: none;
    pointer-events: none;
    position: absolute;
    transition: .7s all cubic-bezier(0.22, 0.61, 0.36, 1);
    top: 0;
    left: 0;
    transform: translate(-100%);
}
#hcarousel > .show + li {
	transform: translate(100%);
}
#hcarousel > .show {
    opacity: 1;
    pointer-events: all;
    transform: none;
}
.carousel_item {
    padding: 30px 30px;
    box-sizing: border-box;
	margin: 0px auto;
}
.carousel_item .english_hadith_full:before,
.carousel_item .arabic_hadith_full:before,
.carousel_item .urdu_hadith_full:before {
    display: none;
}
.carousel_item .english_hadith_full {
	font-size: inherit;
}
.hcarousel_container {
    background-color: rgba(250, 248, 244, 0.39);
    border-radius: 5px;
    height: 90%;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
}
.hcarousel_container:hover .carousel_nav {
    opacity: 1;
}
.carousel_nav {
    position: absolute;
    cursor: pointer;
    bottom: 13px;
    font-size: 10px;
    right: 5px;
    color: #ffffff;
    opacity: 0;
    height: 20px;
    width: 20px;
    background: #bbdada;
    line-height: 21px;
    border-radius: 15px;
    text-align: center;
    transition: .2s all ease;
    box-sizing: border-box;
}
.carousel_nav.back:before{
	letter-spacing: 2px;
}
.carousel_nav.next:before{
	letter-spacing: -1px;
}
.carousel_nav.back {
	left: 5px;
}
.carousel_nav:hover {
    background-color: #96c0c0
}
/* Aniamted BG */
.hcarousel_container:before {
    content: '';
    position: absolute;
    top: 20px;
    left: -200px;
    border-bottom: 470px solid #ffffff96;
    border-left: 470px solid transparent;
    border-right: 170px solid transparent;
    animation: 60s spin linear infinite;
    filter: blur(30px)
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.footer {
    text-align: center;
	background-image: url(../images/banner_small.png);
    background-repeat: repeat;
    width: 100%;
    font-size: 14px;
    padding: 15px 0;
	color: #fff;
	position: absolute;
	bottom: 0;
	user-select: none;
}

.footer a {
	color: #fff;
	text-decoration: none;
	padding: 2px 15px;
	display: inline-block;
	border: 1px solid transparent;
	border-left: 1px solid;
	margin-right: -1px;
}

.footer a:first-of-type {
	border-left: 1px solid transparent;
}

.footer a:hover {
	border: 1px solid white;
}

.footer .social-icons {
	display: inline-block;
}

.footer .social-icons a {
	border-radius: 50%;
	border: 1px solid transparent;
	padding: 2px;
	margin: 0 5px;
}

.footer .social-icons a:hover {
	border: 1px solid white;
}


.hero {
	width: 100%;
	height: 200px;
	display: table;
}

.taglinecontainer {
	float: left;
	display: table; 	
	width: calc(50% - 5px);
	padding: 20px;
    box-sizing: border-box;
}

.searchcontainer {
	float: right;
	display: table; 	
	height: 100%;
	width: calc(50% - 5px);
	padding: 0 3px 0 30px;
    box-sizing: border-box;
}

#indextag {
	font-size: 27px; 
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	color: #75A1A1;
	text-align: center;
	display: table-cell;  
	vertical-align: middle; 
	user-select: none;
}

#indextag p {
	margin: 0;
	line-height: 40px;
}

#indextag p:nth-child(2), #indextag p:nth-child(3) {
	font-size: 40px;
	font-weight: bold;
}

.indexsearchcontainer {
	display: table-cell;  
	vertical-align: middle; 
}

#indexsearch {
	margin:auto;
	position:relative;
}
#search {
	position: absolute;
	top: 46px;
	right: 15%;
	float: right;
}

#searchbar {
	height: 30px;
    position: relative;
    float: right;
    width: 350px;
}

#indexsearchform {
	float: left;
	width: calc(100% - 28px);
}

#searchform {
	float: left;
	width: calc(100% - 25px);
}

.indexsearchquery {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	width: 100%;
	height: 40px;
	border:0px;
	border-radius: 4px;
	padding: 0 15px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.65);
	box-shadow: 0 2px 4px rgba(0,0,0,25%);
}

.indexsearchquery:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,40%);
}
	
.indexsearchquery:focus {
    box-shadow: 0 1px 2px rgba(0,0,0,15%);
	outline: none;
}

.searchquery {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	border:0;
	width: 100%;
	height: 30px;
	padding: 0 15px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 4px;
	box-shadow: 0px 0px 9pt 2pt #75a1a1;
	box-sizing: border-box;
}

.searchquery:focus {
	box-shadow: 0px 0px 9pt 2pt #ccc;
    outline: none;
}

.indexsearchsubmit,
.searchsubmit {
	border:0px;
	cursor: pointer;
	position:absolute;
	top: 0px;
	right: 30px;
	width:17px;
	font-family: "icn-font";
	font-size: 17px;
	color: #5F9999;
	height: 28px;
	background: 0;
	box-sizing: content-box;
}
.indexsearchsubmit {
	height: 40px;
	width: 34px;
	font-size: 24px;
}

.indexsearchtipslink {
	float: right;
	font-size: 24px;
	cursor: pointer;
	padding-top: 3px;
	padding-left: 2px;
}

.indexsearchtipslink:hover {
    color:#84B8B8;
}

.searchtipscontainer {
	float: right;
}

.searchtipslink {
    font-size: 18px;
    cursor: pointer;
	padding-right: 1px;
}

.icn-lightbulb:before {
	margin-right: 0 !important;
	margin-left: 0 !important;
	width: auto !important;
}

#search a {	
	color: rgba(255, 255, 255, 0.85);
}

#searchtips a { color: #5d8080; }

#searchtips {
	top: 0;
	left: calc(100% + 10px);
	width: calc(15vw - 20px);
	max-height: calc(90vh - 130px);
	position: absolute;
	background:url(../images/bg_small.png);
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
	border-radius: 3px;
	overflow-y: scroll;
	padding: 15px;
	z-index: 10;
	display: none;
	box-sizing: border-box;
}


#indexsearchtips {
    margin-top: -72px;
    width: 38%;
    max-height: calc(90vh - 120px);
	background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
    border-radius: 3px;
    display: none;
    font-size: 13px;
    padding: 10px;
    overflow-y: scroll;
    position: absolute;
    left: calc(100% + 13px);
}

.search_page_result_count {
	font-size: 13px;
	font-weight: bold;
	color: #037d7d;
	padding: 20px 40px 5px 40px;
}

.collections {
	width: 100%;
}

.collection_titles {
    width: calc(50% - 5px);
    float: left;
}

.collection_title {
	background-color: rgba(255, 255, 255, 0.55);
	color: #75a1a1;
	margin: 10px 0;
	box-shadow: 0 2px 4px rgba(0,0,0,25%);
	border-radius: 4px;
	user-select: none;
}

.collection_title:hover {
	box-shadow: 0 2px 4px rgba(0,0,0,50%);
	transform: translateY(-1px);
	color: #037d7d;
}

.collection_title:active {
	box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
	transform: translateY(0px);
	color: #037d7d;
}



.english_collection_title {
    font-size: 19px;
	font-family: 'Libre Baskerville', serif;
    display: inline-block;
    direction: ltr;
    padding: 10px;
    vertical-align: middle;
	width: 50%;
	box-sizing: border-box;
	text-align: right;
}

.arabic_collection_title {
	font-size: 32px;
	display: inline-block;
    vertical-align: middle;
	width: 49%;
	box-sizing: border-box;
    padding: 7px 10px 13px 10px;
	text-align: left;
}

.collection_titles a {
    text-decoration: none;
	color: inherit;
}




.collection_sep {
	background-color: #ccc;
	height: 1px;
	opacity: 0.5;
	width: 100%;
}

.crumbs{
    color: #fff;
	background-color: rgba(251, 250, 248, 0.2);
	padding: 0 10px 0 15%;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.crumbs a {
	color: #fff;
	vertical-align: middle;
	padding: 4px 9px;
	max-width: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.crumbs a:hover, .bc_search a:hover {
	text-decoration: none;
	background-color: rgba(255,255,255,0.75);
    color: #037d7d;
}

.crumbs .currentpage {
	color: #fff;
	vertical-align: middle;
	padding: 4px 9px;
}

.crumbs .icn-home {
	font-size: 18px;
    line-height: 0;
}

.crumbs .icn-right {
	vertical-align: middle;
}

.collection_info {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
	padding: 30px;
	box-sizing: border-box;
}

.colindextitle {
	float: left;
	text-align: justify;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
}

.colindextitle.incomplete {
    width: 64%;
}

.progress_text {
    float: left;
	margin-left: 5px;
	line-height: 30px;
}

.colindextitle .arabic {
    float: right;
    font-size: 26px;
}

.colindextitle .english {
    float: left;
    font-size: 22px;
	font-family: 'Libre Baskerville', serif;
    padding: 5px 0 10px 0;
}

.col_progress {
	font-size: 18px;
	height: 30px;
    margin-bottom: 10px;
}

.progress_full {
	background-image: url('/images/progress_full.png');
	background-size: 13px 30px;
	background-repeat: repeat-x;
	height: 30px;
	float: left;
}

.progress_half {
	background-image: url('/images/progress_half.png');
	background-size: 9px 30px;
	background-repeat: repeat-x;
	height: 30px;
	float: left;
}

.titles {
	margin: 30px 0;
	font-size: 16px;
	font-family: 'Libre Baskerville', serif;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.titles .book_hyperlink:first-child .book_title {
	border-radius: 4px 4px 0 0;
}

.titles .book_hyperlink:last-child .book_title {
	border-radius: 0 0 4px 4px;
}

.titles .book_hyperlink:nth-child(odd) .book_title {
	background-color: rgba(255, 255, 255, 0.6);
}

.titles .book_hyperlink:nth-child(even) .book_title {
	background-color: rgba(255, 255, 255, 0.4);
}

.title {
	padding: 7px 30px;
}

.title a:hover {
	color:#84B8B8;
	text-decoration: none;
}

.title_number {
	padding-right: 5px;
	width: 37px;
}

.arabic_title_number {
	padding-left: 5px;
	width: 37px;
	text-align: right;
}

.english_book_name {
	width: calc(50% - 152px);
}

.arabic_book_name {
	font-size: 25px;
	width: calc(50% - 153px);
}

.book_hyperlink {
	color: #75a1a1;
}

.book_title:hover {
	text-decoration: none;
	color: #037d7d;
}

.titles .book_hyperlink .book_title:hover {
	box-shadow: 0 2px 3px rgb(0 0 0 / 40%), 0 -1px 2px rgb(0 0 0 / 5%);
	transform: translateY(-1px);
}

.titles .book_hyperlink .book_title:active {
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%), inset 0 -1px 1px rgb(0 0 0 / 5%);
	transform: translateY(0px);
}

.book_title div {
	display: inline-block;
	vertical-align: middle;
}

.title .english_chapter_name {
	width: calc(50% - 49px);
	padding-right: 20px;
	box-sizing: border-box;	
}

.title .arabic_chapter_name {
	width: calc(50% - 49px);
	font-size: 21px;
	box-sizing: border-box;
}

.book_range {
	color: #666;
	padding: 0 40px;
    width: 141px;
}

.book_range > div:first-child {
	text-align: right;
	width: 61px;
}
.book_range > div:nth-child(2) {
	/* width: 20%; */
	text-align: center;
}
.book_range > div:nth-child(3) {
	text-align: left;
	width: 61px;
}

.book_info {
	width: 100%;
	/* padding-left: 10px; */
}

.book_page_colindextitle {
	margin-left: 0px;
}

.book_page_number {
	font-family: 'Libre Baskerville', serif;
	font-size: 25px;
}

.book_title_arabic_container {
	width: 50%;
	float: right;
}

.book_title_english_container {
	width: 50%;
	float: left;
}

.book_page_english_text {
	font-family: 'Libre Baskerville', serif;
	font-size: 25px;
	text-align: left;
	padding: 20px 30px 20px 0;
}

.single .book_page_english_text {
	font-family: 'Libre Baskerville', serif;
	font-size: 25px;
	text-align: left;
	padding: 30px 30px 30px 40px;
}

.book_page_arabic_name {
	font-size: 33px;
	padding: 20px 0px 20px 30px;
	line-height: 38px;
}

/* Hisn al-Muslim */
.hadithLines {
	padding: 15px 0;
}

.hadithLine {
	display: flex;
	align-items: center;
	padding: 5px 15px;
}

.hadithLine:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.5);
}

.hadithLine span {
	box-sizing: border-box;
	padding: 0 15px;	
    vertical-align: middle;
}

.translationLine {
	width: 34%;
	font-family: "EB Garamond", serif;
	font-size: 17px;
}

.transliterationLine {
	width: 33%;
	text-align: center;
	font-family: "EB Garamond", serif;
	font-size: 17px;
}

.arabicLine {
	width: 33%;
	font-family: 'KFGQPC Uthman Taha Naskh';
	font-size: 21px;
}

.chapter_index_container {
    margin: 0 auto;
}

.chapter_index {
	font-size: 16px;
	padding: 15px 30px;
	background-color: rgba(255, 255, 255, 0.5);
}

.chapter_link {
	padding: 0 10px;
}

.chapter_link div {
	display: inline-block;
	vertical-align: middle;
}

.transliteration {
    white-space: pre-line;
    display: block;
    margin-bottom: 1em;
    line-height: 50px;
	text-align: left;
	font-family: 'EB Garamond', serif;
    font-size: 17px;
}

.single_hadith .transliteration {
    font-size: 19px;
}

.hadith_container_hisn .arabic_text_details {
    font-size: 22px;
	line-height: 50px;    
	text-align: right;
	white-space: pre-line;
}

.single_hadith .hadith_container_hisn .arabic_text_details {
    font-size: 27px;

}

.hadith_container_hisn .translation {
    white-space: pre-line;
	line-height: 50px;
}

.hisn_arabic_instructions {
    color: gray;
}

.hadith_container_mishkat .text_details {
	white-space: pre-line;
}

.hadith_container_nawawi40 .text_details {
	white-space: pre-line;
}

.hadith_container_ahmad .text_details {
	white-space: pre-line;
}

.hadith_container_nasai .text_details {
	white-space: pre-line;
}

.reference_label {
    display: block;
    margin-top: 1em;
}

.hisn_english_reference,
.reference_label {
    font-size: 13px;
	margin-top: 30px;
}

.AllHadith > a:not([href]) {
	scroll-margin-top: 60px;
	scroll-snap-margin-top: 60px;
}
/* Hisn collapsed chapter list */

.hisn_chapters_initial_height {
    height: 49vh;
}

.book_intro_initial_height {
    height: 65vh;
}

.collapsed {
    overflow: hidden;
    position: relative;
}

.collapsible:not(.collapsed) .button_expand {
    display: none;
}

.collapsible:not(.collapsed) {
	height: auto;
}

.button_expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    padding-bottom: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0), #faf9f6 70%);
	    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.bookintro .button_expand {
	margin-left: 0;
}

.chapter_index .button_expand {
	margin-left: -30px;
}

.button_expand:after {
    content: ">";
    transform: rotateZ(90deg);
    font-family: icn-font;
    text-decoration: none;
	font-size: 18px;
}

.button_expand:hover {
    text-decoration: none;
    cursor: pointer;
	color: #84B8B8;
}

/* / Hisn al-Muslim */
.surah {
    background-color: rgba(95, 153, 153, 0.3);
    color: #666;
    width: 100%;
    padding: 5px 15px 10px 15px;
    border-radius: 10px;
    margin-top: 24px;
    box-sizing: border-box;
}
.surah:first-child {
	margin-top: 20px;
}

.chapter {
    background-color: rgba(255, 255, 255, 0.5);
    color: #666;
    width: 100%;
    /* padding: 30px; */
    border-radius: 4px;
    margin-top: 45px;
    box-sizing: border-box;
	box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.chapter:first-of-type {
	margin-top: 0;
}

.english_chapter_container {
	width: 50%;
	float: left;
}

.arabic_chapter_container {
	width: 50%;
	float: right;
}


.english_chapter_text {
	font-family: 'Libre Baskerville', serif;
	padding: 23px 20px 23px 30px;
	font-size: 15px;
}

.single_hadith .english_chapter_text {
	padding: 33px 30px 33px 40px;
	font-size: 17px;
}

.arabic_chapter_text {
	font-family: 'KFGQPC Uthman Taha Naskh';
	padding: 20px 30px 20px 20px;
    font-size: 22px;
	line-height: 1.4;
}

.single_hadith .arabic_chapter_text {
	padding: 30px 40px 30px 30px;
    font-size: 24px;
	line-height: 1.5;
}

.achapintro {
	text-align: justify;
	padding: 0 30px 20px 20px;
	font-size: 19px;
	line-height: 1.4;
}

.single_hadith .achapintro {
	padding: 0 40px 30px 30px;
	font-size: 20px;
	line-height: 1.5;
}

.echapintro {
    text-align: justify;
	font-family: 'Libre Baskerville', serif;
    font-size: 13px;
	padding: 0 20px 23px 30px;
}

.single_hadith .echapintro {
	padding: 0 30px 33px 40px;
}

.bookintro {
	white-space: pre-line;
	box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	margin: 0 0 15px 0;
	text-align: justify;
}

.ebookintro {
	font-size: 15px;
	float: left;
	width: 50%;
	padding: 30px 20px 30px 30px;
	box-sizing: border-box;
}

.ebookintro div {
	font-weight: bold;
    line-height: 33px;
	font-size: 18px;
    font-family: 'Libre Baskerville';
}

.abookintro {
	float: right;
	width: 50%;
	font-size: 22px;
	padding: 30px 30px 30px 20px;
	box-sizing: border-box;
}


.abookintro div {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 13px;
}

.bookintro p {
	margin: 0; 
	text-align: justify;
}

.AllHadith {
    margin:0;
    width: 100%;
}

.actualHadithContainer {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	float: left;
	margin: 15px 0;
	width: 100%; /* for <1line hadith */
	box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.actualHadithContainer:first-of-type {
	margin-top: 0;
} 

.hadith_narrated {
    color:#5d8080;
    text-decoration:none;
    padding-bottom:8px;
}

.text_details{
    text-decoration:none;
    text-align: justify;
}

.englishcontainer {
    width: 50%;
    float: left;
    text-align: justify;
}

.arabiccontainer {
    width: 50%;
    float: right;
    text-align: justify;
}

.english_hadith_full {
	font-family: 'EB Garamond', serif;
	font-size: 17px;
	line-height: 1.4;
    padding: 30px 20px 15px 30px;
}

.single_hadith .english_hadith_full {
	font-size: 19px;
	line-height: 1.5;
    padding: 40px 30px 15px 40px;
}

.english_hadith_full p{ padding:0; margin:0}

.arabic_hadith_full {
    padding: 30px 30px 15px 20px;
    font-size: 21px;
    line-height: 1.5;
}

.single_hadith .arabic_hadith_full {
    padding: 40px 40px 30px 30px;
    font-size: 22px;
    line-height: 1.6;
}

.englishcontainer,
.arabic_hadith_full {
    position: relative;
}

.english_hadith_full:before,
.arabic_hadith_full:before,
.urdu_hadith_full:before {
    content: " ";
    background-image: url(../images/hadith_icon2_huge.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 33px;
}

.single_hadith .english_hadith_full:before,
.single_hadith .arabic_hadith_full:before,
.single_hadith .urdu_hadith_full:before {
    content: " ";
    background-image: url(../images/hadith_icon2_huge.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 45px;
}

.hadith_container_hisn .english_hadith_full:before,
.hadith_container_hisn .arabic_hadith_full:before {
    top: 45px;
}

.single_hadith .hadith_container_hisn .english_hadith_full:before,
.single_hadith .hadith_container_hisn .arabic_hadith_full:before {
    top: 55px;
}

.arabic_hadith_full:before {
    left: auto;
    right: -30px;
}

.urdu_hadith_full {
    padding: 25px 20px 15px 30px;
    text-decoration:none;
}

.single_hadith .urdu_hadith_full {
    padding: 35px 30px 30px 40px;
}

.indonesian_hadith_full{
    font-size:13px;
    text-decoration:none;
	padding: 10px 0 10px 15px;
}

.arabic_annotation {
    padding-left:28px;
    text-align:justify;
    direction:rtl;
    font-size: 18px;
}

.arabic_sanad {
    text-align:justify;
    direction:rtl;
    color: #5d8080;
}

.arabic_text_details {
     text-align:justify;
     direction:rtl;
}

.urdu_sanad {
    color: gray;
}

.hadith_annotation {
    width: 100%;
    font-size: 13px;
    text-decoration:none;
    text-align: justify;
    border: 0px solid;
}

.hadith_permalink {
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    border-width: 0px;
    border-style: solid;
    float: right;
    border: 0px solid;
	color: #037d7d;
	user-select: none;
	padding: 11px 30px 30px 20px;
}

.single_hadith .hadith_permalink {
	padding: 11px 40px 40px 30px;
}

.hadith_permalink a {
    text-decoration: none;
    line-height: 11px;
    text-align: left;
    border-width: 0px;
    border-style: solid;
}

.hadith_permalink a:hover {
    text-decoration: underline;
}
.hadith_reference a {
    color: #037d7d;
}

.hadith_reference {
    font-size: 13px;
    text-decoration: none;
    line-height: 15px;
    text-align: left;
    float: left;
    overflow: auto;
    padding: 15px 20px 30px 30px;
}

.single_hadith .hadith_reference {
    padding: 15px 30px 40px 40px;
}

.reference_value {
    max-width: 55%;
    float: left;
    display: inline
}
.reference_type {
    max-width: 45%;
    min-width: 28%;
    float: left;
}

.deprecated_reference {
    color: #8E8E8E;
}

.bottomItems {
    width: 100%;
}

.gradetable {
	width: 100%;
	padding: 10px 30px;
}

.single_hadith .gradetable {
	padding: 15px 40px;
}

.english_grade {
    vertical-align: top;
    font-size: 14px;
    padding-top: 4px;
    text-align: left;
	height: 100%;
}

.single_hadith .english_grade {
    font-size: 15px;
}

.arabic_grade {
	font-size: 19px;
    vertical-align: top;
    direction: rtl;
    text-align: right;
}

.bc_search {
	border-radius: 4px 4px 0 0;
	padding: 0 30px;
	font-size: 14px;
	font-family: 'Libre Baskerville', serif;
	background-color: #90b8b9;
	color: #fff;
}

.bc_search a {
	color: #fff;
	padding: 10px 5px;
    display: inline-block;
}

.boh {
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
	margin: 15px 0;
}

.boh .searchHadithContainer {
	box-shadow: none;
	position: relative;
}

.boh .hadith_permalink {
	display: none;
}

.boh:hover {
	background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.boh:active {
	box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
}

.boh .english_hadith_full:before, .boh .arabic_hadith_full:before, .boh .urdu_hadith_full:before {
	top: 35px;
}

.searchlink {
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
	/* edit: added z-index */
	z-index: 1;
}

.searchmore {
	float: right;
	padding: 0 10px 8px 0;
	color: #037d7d;
}

.about {
    text-align: left;
	font-size: 17px;	
	padding: 50px 60px 60px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	margin-bottom: 35px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 25%)
}

.about a {
    color: #037d7d;
	cursor: pointer;
}

.about pre.textboxlook {
	background-color: #fff;
    padding: 10px 20px;
    margin: 20px 30px;
	border-radius: 4px; 	
	box-shadow: 0 2px 4px rgb(0 0 0 / 25%)
}

.changelog dl {
	margin: 0;
	border-left: 1px solid #95bcbc;
}

.changelog dt,
.changelog dd {
    box-sizing: border-box;
	padding-top: 5px;
	padding-bottom: 5px;
}

.changelog dt {
    margin-top: 15px;
    padding-left: 35px;
    overflow: hidden;
    position: relative;
    border-right: 5px solid #F9F7F2;
    padding-right: 0;
    margin-right: 0;
}

.changelog dt::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 1px;
	margin-left: -35px;
	margin-top: 12px;
	background-color: #95bcbc;
}

.changelog dt::after {
    width: 100%;
	content: "";
	position: absolute;
	height: 1px;
	margin-left: 5px;
	margin-top: 12px;
	background-color: #95bcbc;
}

.changelog dt:first-of-type {
	margin-top: 0;
}

.changelog dd {
	margin-left: 70px;
    border-left: 1px solid #95bcbc;
    padding-left: 35px;
    padding-right: 20px;
}

.changelog dd::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 1px;
	margin-left: -35px;
	margin-top: 12px;
	background-color: #95bcbc;
}

.changelog dd:after {
    content: "";
    display: block;
    clear: both;
}


.abouttitle {
	text-align: center;
    font-family: 'Libre Baskerville', serif;
    padding: 10px 20px;
    margin: 0px auto;
    font-size: 2.5em;
    color: #343434;
}

.section_header {
	font-family: 'Libre Baskerville', serif;
	margin-bottom: -3px;
	text-align: left;
    color: #343434;
}

.footnotes li {
	margin: 15px 0;
}

.footnotes li::marker {
	margin-right: 5px;
}

.footnotes sup {
	user-select: none;
}

.menu {
	border: 1px dashed #aaa;
	padding: 20px 40px;
	float: left;
	margin-right: 40px;
}


.square-brackets-quote {
	display: inline-block;
	margin: 0 50px;
}

.square-brackets-quote blockquote {
	border: solid 1em #95BCBC;
	background-color: #F9F7F2;
	display: inline-block;
	margin: 0;
	padding: 20px;
	position: relative;
}

.square-brackets-quote blockquote:before {
	background-color: #F9F7F2;
	bottom: calc(-1em - 2px);
	content: "";
	left: 2em;
	position: absolute;
	right: 2em;
	top: calc(-1em - 2px);
}

.square-brackets-quote blockquote cite {
	display: block;
	font-size: small;
	font-style: normal;
	text-align: right;
	text-transform: uppercase;
}

.square-brackets-quote blockquote > * {
	position: relative;
	z-index: 1;
}

blockquote .emphasized {
	font-weight: bold; 
	font-style: italic; 
	font-size: 19px; 
	text-align: center;
	padding: 0 20px;
}

.list li {
	padding-left: 0.5em;
}

.reporterrorbox {
	display: none;
	padding: 0 40px 40px 40px;
}

.reporterrorbox input[type=radio] {
	margin: 11px 5px;
}

.report_left_column .othererror {
	height: 25px;
    padding: 0 10px;
	font-family: 'Raleway', sans-serif;
	width: 244px;
	max-width: 244px;
}

.report_left_column, .report_right_column {
	float: left;
	padding: 0;
}

.report_left_column {
	margin: 0 30px 30px 0;
}

.report_right_column {
	margin: 0 0 30px 0;
}

.report_right_column textarea {
	width: 284px;
	max-width: 284px;
	padding: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
}

.report_right_column input[name=email] {
	width: 284px;
	max-width: 284px;
	height: 25px;
	padding: 0 10px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 30px;
}

.report_left_column fieldset {
	border: 1px dashed #aaa;
    border-radius: 3px;
    padding: 0 20px 20px 20px;
	max-width: 264px;
	margin: 0;
}

.report_left_column fieldset label {
	cursor: pointer;
	display: block;
}

.report_right_column .cbemail {
	padding: 30px 0 5px 0;
	display: block;
	cursor: pointer;	
}

.report_right_column .cbemail input {
	margin-right: 5px;
	margin-top: -1px;
	vertical-align: middle;
}

.red_asterisk {
	color: red;
    font-family: 'Libre Baskerville';
}

.resubmit {
	background-color: transparent;
	border-radius: 3px;
	color: #037d7d;
	text-align: center;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	border: 1px solid #037d7d;
	padding: 15px 40px;
	margin-bottom: 10px;
}

.resubmit:hover {
	background-color: #037d7d;
	color: white;
}

input[type="radio"] {
	margin-top: -1px;
	vertical-align: middle;
}

.reresp {
	width: auto;
	margin: auto;
	text-align: center;
	font-size: 15px;
	color: #ff0033;
}

.reresp:before {
	content: "⚠";
	margin-right: 5px;
	font-size: 18px;
}

.reresp:empty {
	display: none;
}

#sharefuzz {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter:alpha(opacity=0);
	background: #000;
	z-index: 10;
	display: none;
}

.share_mb {
	position: fixed;
	left: 30%;
	top: 20%;
	display: none;
	box-shadow: 0 2px 6px rgb(0 0 0 / 75%);
	border-radius: 3px;
	background:url(../images/bg_small.png);
	z-index: 50;
	padding: 10px 25px 25px;
}

.share_mb h2 {
	color: #343434;
	margin: 5px;
	float: left;
}

.sharelink, .copycbcaret, .reportlink, .copylink {
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	border: 1px solid transparent;
}

.sharelink, .copylink, .reportlink {
	padding: 4px 12px;
}

.copycbcaret {
	padding: 4.5px 2px;
}

.sharelink {
	margin: 0 -1px;
}

.reportlink {
	border-right: 1px solid;
}

.copylink {
	border-left: 1px solid;
}


.copycbcaret:hover, .reportlink:hover, .sharelink:hover, .copylink:hover {
	border: 1px solid #5f9999;
	/* color: #2a4444; */
}

.copycbcaret {
	font-size: 12px;
}

#cb_flyout {
	position: absolute;
	display: flex;
	gap: 15px;
    margin-top: 25px;
	margin-left: -251px;
	background:url(../images/bg_small.png);
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 10;
	border-radius: 4px;
	font-size: 13px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,.20);
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}
#cb_flyout fieldset {
	border:1px dashed #aaa; 
	border-radius:3px; 
	padding-bottom: 4px;
	width: 100px;
	margin: 0;
}
#cb_flyout label {
	display: block; 
	cursor: pointer;
	padding: 0px;
	margin: 8px 0;
}
#cb_flyout label input {
	margin: 0 5px 0 0;
	vertical-align: text-top;
}
.copylink {
	transition: 1s text-shadow;
}
.copylink.success {
	color: #07ad07;
	text-shadow: 0 0 2px #fff, 0 0 5px #77e877;	
}
.copylink.success:after {
    content:"\2714\0020";
    position: absolute;
    font-size: 20px;
    margin-left: -23px;
    opacity: 0;
    animation: checkmark 2.5s ease;
}
@keyframes checkmark {
  0%   { opacity: 0; top:-5px;}
  20%  { opacity: 0.8; top:-25px;}
  80%  { opacity: 0.8; top:-25px;}
  100% { opacity: 0; top:-5px;}
}


.share_close {
	position: relative;
	top: -25px;
	left: 20px;
	float: right;
	display: block;
	height: 25px;
	width: 25px;
	background: url('/images/close.png') no-repeat;
}

.permalink_box {
	padding: 10px;
	font-size: 15px;
	border-radius: 3px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.65);
	box-shadow: 0 2px 4px rgba(0,0,0,25%);
	border: none;
	font-family: 'Raleway', sans-serif;
}

.permalink_box:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,40%);
}
	
.permalink_box:focus {
	box-shadow: 0 2px 4px rgba(0,0,0,25%);
	outline: none;
}

.share_mb .copy_btn {
	color: darkgray;
    float: left;
    font-size: 18px;
    margin-top: 4px;
	position: relative;
	transition: 1s text-shadow;
}

.share_mb .copy_btn:hover {
	cursor: pointer;
	color: #037d7d;
}

.copy_btn.success {
	color: #037d7d;
	text-shadow: 0 0 4px #77e877;	
}
.copy_btn.success:after {
    content:"\2714\0020";
    position: absolute;
    font-size: 18px;
    opacity: 0;
    animation: checkmarkSlideRight 2.5s ease;
}
@keyframes checkmarkSlideRight {
  0%   { opacity: 0; left:0px;}
  20%  { opacity: 1; left:28px;}
  80%  { opacity: 1; left:28px;}
  100% { opacity: 0; left:0px;}
}


.share_button {
	padding: 9px 5px;
	float: right;
}

.share_button a {
	text-decoration: none;
	border-radius: 50%;
	padding: 3px 1.5px;
	font-size: .9em;
	color:white;
	box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
	background-color: darkgray;
}
.share_button .icn-fb:hover{
	background: #3c5b9b;
}
.share_button .icn-twitter:hover{
	background: #2caae1;
}
.share_button a:hover {
	text-decoration: none;
}
.hadith_reference_sticky {
    display: none;
}

/* Hadith Navigation */
.button {
    display: inline-block;
	padding: 13px 20px;
	font-size: 16px;
	font-family: 'Libre Baskerville', serif;
	background: #f9f7f2;
    color: #037d7d;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
	margin-bottom: 15px;
}

.button:hover {
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
	text-decoration: none;
	cursor: pointer;
	transform: translateY(-1px);
}

.button:active {
	box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
	transform: translateY(0px);
}

.button[disabled] {
    background-color: #d6d6d6;
    color: #afafaf;
    box-shadow: inset 0 0px 1px rgb(0 0 0 / 25%);
	cursor: auto;
}

.button[disabled]:hover {
	transform: translateY(0px);
}

.hadith_nav_wrapper {
	float: left;
	width: 100%;
}

.hadith_nav_wrapper .button.next {
	float: right;
}
.hadith_nav i {
	font-size: .95em;
}
.hadith_nav i:before {
	margin: 0;
}

.muslim_intro {
	text-align: justify;	
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	margin: -15px 0 20px 0;	
}





/* Smaller Screens */
@media (max-width: 992px) {
    /* body {
        font-size: 16px;
	} */

	.muslim_intro {
		padding: 0 30px;
	}

	#back-to-top {
		top: 102px;
		right: auto;
		left: 5px;
		z-index: 1;
		opacity: .8;
		width: 27px;
		height: 27px;
		border-radius: 6px;
	}
	.bttenabled {
		background-color: #79aaab;
		mix-blend-mode: unset;
	}
	.bttenabled:before {
		font-size: 23px;
		line-height: 27px;
	}
	
    /* .text_details {
        font-size: 16px;
	} */
	
    /* .AllHadith .arabic {
        font-size: 25px;
	} */
	    
    #site{
	   min-width: auto;
    }

	.collection_title {
		width: auto;
		margin-bottom: 3px;
	}

	.home #nonheader {
		margin: 0;
		padding: 0 1.5em;
	}

    .bannerTop {
        height: 60px;
        background-position: 50%;
		margin-left: 0;
	}

	.bannerMiddle {
		margin-left: 0;
        background-position: 50%;
		height: 36px;
	}
	
	
    #search {
		padding: 0 .5em .5em .5em;
		position: static;
		float: none;
	}

	#indexsearchtips {
		margin-top: 10px;
		width: calc(100% - 17px);
		height: 145px;
		overflow-y: scroll;
		position: static;
	}

	#searchtips {
		top: 0;
		width: calc(50vw - 50% - 20px);
	}
	
    #searchbar {
        float: none;
		margin: 0 auto;
		width: 300px;
    }

	#searchform {
		float: none;
		display: inline-block;
		position: relative;
	}

	.searchsubmit {
		right: 3px;
	}	

    .crumbs {
		padding-left: 0;
	}
	
	.ebookintro { 
		width: 100%;
		padding: 40px; 
	}
	
	.abookintro { 
		width: 100%; 
		padding: 30px; 
	}
    
	.book_info,
    .AllHadith {
        padding: 10px 20px;
        width: auto;
        padding: 0;
	}
	
	.achapintro {
        width: 100%;
        box-sizing: border-box;
        padding: 5px 30px 20px;
	}

	.single_hadith .achapintro {
        padding: 5px 40px 20px;
	}

	.echapintro {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 30px 5px;
	}

	.single_hadith .echapintro {
        padding: 10px 40px 5px;
	}
	
	.english_chapter_container, .arabic_chapter_container {
		float: none;
		width: auto;
	}

	.english_chapter_text, 
	.single_hadith .english_chapter_text {
		padding: 20px 30px 5px;
	}

	.arabic_chapter_text, 
	.single_hadith .arabic_chapter_text {
		padding: 5px 30px 20px;
	}
	
    .actualHadithContainer {
        border-radius: 0;
        margin: 15px 0;
	}
	
    .chapter {
        border-radius: 0;
        margin: 45px 0 10px 0;	
	}
	
    .sidePanelContainer,
    .mainContainer,
    .home.has_right_panel .mainContainer {
        width: 100%;
        float: none;
        margin: 0;
	}

	/* .mainContainer {
		margin-bottom: 30px;
	} */
	
    #sidePanel {
        float: none;
        margin: 20px 1em 0;
        margin: 0;
        border-radius: 0;
		position: static;
		width: 100%;
	}
	
    #languagePanel {
        width: auto;
		border-radius: 0;
		padding: 2px 7px 10px 7px;
	}

	.language_option {
		margin-right: 20px;
		display: inline-block;
	}
	
    #languagePanel > div {
        display: inline;
        margin-left: 8px;
	}
	
	fieldset#translation_panel {
		border-radius: 4px;
	}

	
	.colindextitle.incomplete,
	.col_progress {
		width: 99%;
	}

	.col_progress {
		width: 99%;
		margin-bottom: 15px;
	}

    .book_page_colindextitle {
        padding: 20px 30px;
        width: 100%;
        float: none;
        box-sizing: border-box;
	}

	.book_title_arabic_container {
		width: 100%;
		float: none;
	}

    .book_page_arabic_name {
        padding: 0;
        text-align: right;
	}

	.book_page_english_text {
		padding: 0;
		margin: 0;
	}
	
    .englishcontainer,
    .urdu_hadith_full,
    .english_hadith_full,
    .arabic_hadith_full,
    .urdu_hadith_full {
        width: auto;
        padding: 0;
        float: none;
	}
	
	.boh {
		background-color: rgba(255, 255, 255, 0.5);
	}

	.boh .arabic_hadith_full, .boh .english_hadith_full {
		padding: 0;
	}
		
	.arabiccontainer {
		width: auto;
        padding: 0;
        float: none;
	}	
	
    .actualHadithContainer {
        padding: 30px;
        width: 100%;
        box-sizing: border-box;
	}
			
	.english_hadith_full:before,
	.arabic_hadith_full:before,
	.urdu_hadith_full:before {
		position: absolute;
		height: 24px;
		width: 14px;
		right: auto;
		top: auto;
		left: -30px;
		background-position: right;
		top: 0;
	}

	.single_hadith .hadith_container_hisn .english_hadith_full:before {
		top: 45px;
		left: -40px;
	}

	.single_hadith .hadith_container_hisn .arabic_hadith_full:before {
		top: 10px;
		right: -40px;
	}

	.arabic_hadith_full:before,
	.urdu_hadith_full:before {
		left: auto;
		background-position: left;
		right: -30px;
	}

	.single_hadith .arabic_hadith_full:before,
	.single_hadith .urdu_hadith_full:before {
		right: -40px;
	}

	.hadith_container_hisn .english_hadith_full:before {
		top: 33px;
	}

	.hadith_container_hisn .arabic_hadith_full:before {
		top: 10px;
	}

	.boh .english_hadith_full:before, .boh .arabic_hadith_full:before, .boh .urdu_hadith_full:before {
		top: 0px;
	}	

	.boh .arabic_hadith_full:before {
		top: 0px;
	}

	.urdu_hadith_full:before {
		top: 9px;
	}
	
    .english_hadith_full, 
	.arabic_hadith_full, 
	.hadith_annotation, 
	.hadith_reference, 
	.hadith_permalink, 
	.urdu_hadith_full {
        margin-top: 20px;
	}

    .single_hadith .english_hadith_full, 
	.single_hadith .arabic_hadith_full, 
	.single_hadith .hadith_annotation, 
	.single_hadith .hadith_reference, 
	.single_hadith .hadith_permalink, 
	.single_hadith .urdu_hadith_full {
        margin-top: 30px;
		padding: 0;
	}

	.gradetable, .single_hadith .gradetable {
		width: 100%;
		padding: 0;
	}	

	.hadith_permalink {
		padding: 0;
		margin-top: 17px;
	}
	
	.copycbcaret:hover, .sharelink:hover {
		border: 1px solid transparent;
	}	

	.reportlink:hover {
		border: 1px solid transparent;
		border-right: 1px solid;
	}	

	.copylink:hover {
		border: 1px solid transparent;
		border-left: 1px solid;
	}	

	.reportlink {
		padding-left: 0;
		border-right: 1px solid;
	}	

	.copylink {
		border-left: 1px solid;
	}
	
	.hadith_reference {
        padding: 0;
	}

	.hadith_reference_sticky {
		display: block;
		background-color: #90b8b9;
		color: white;
		text-align: right;
		padding: 5px 30px 7px;
		position: sticky;
		left: 0;
		top: 100px;
		box-sizing: border-box;
		width: calc(100% + 80px);
		z-index: 1;
		margin: -30px 0 0 -50px;
	}

	.boh .searchHadithContainer {
		padding: 30px;
	}

    .collection_titles,
	.collection_info {
        width: 100%;
	}
	
    .english_collection_title {
        box-sizing: border-box;
        width: 49%;
        padding-right: 0;
		overflow-wrap: break-word;
	}
	
    #banner {
    	width: 100%;
		float: none;
	}
		
    /* Book: Hisn */
    .chapter_index_container {
		width: 100%;
    }
    .AllHadith > a:not([href]) {
		scroll-margin-top: 100px;
		scroll-snap-margin-top: 100px;
	}

    .bc_search {
		display: none;
	}

	.collection_sep {
		display: none;
	}

	.indexsearchcontainer {
		width: 98%
	}

	.search_page_result_count {
		padding: 20px 20px 5px 20px;
	}
	

	.hadith_nav_wrapper {
		/* margin-bottom: 15px; */
		float: none;
		width: auto;
	}

	#cb_flyout {
		margin-left: -150px
	}

	.hadith_container_hisn {
		display: flex;
		flex-direction: column;
	}

	.hadith_container_hisn .englishcontainer,
	.hadith_container_hisn .bottomItems {
		order: 1;
	}
	
	/* Ramadan Home */
	#rightPanel {
		min-width: auto;
		width: 100%;
		margin: 0 0 70px;
	}

	.hadith_nav_wrapper .prev {
		border-radius: 0 4px 4px 0;
	}

	.hadith_nav_wrapper .next {
		border-radius: 4px 0 0 4px;
	}
	
	.reporterrorbox {
		padding: 0;
	}

	.reporterrorbox input[type=radio] {
		margin: 10px 5px;
	}

	.report_right_column textarea {
		width: 100%;
	}

	.report_right_column input[name=email] {
		width: calc(100% - 2px);
	}

	.title {
		padding: 7px 30px;
	}
	
	.chapter_link {
		padding: 0 10px;
	}

	.hadithLine {
		margin: 0 -40px;
		padding: 5px 25px;
	}	

	.indexsearchquery {
		margin-bottom: 10px;
	}

	.single_hadith .english_hadith_full:before,
	.single_hadith .arabic_hadith_full:before,
	.single_hadith .urdu_hadith_full:before {
		top: 5px;
	}

	.single_hadith .english_hadith_full:before {
		left: -40px;
	}

}



@media (max-width: 768px) {
	.muslim_intro {
		padding: 0 20px;
	}

	.hadithLine {
		flex-direction: column-reverse;
		margin: 0 -20px;
		padding: 5px 20px;
	}	

	.hadithLine span {
		padding: 0;
	}

	.translationLine {
		width: 100%;
	}
	
	.transliterationLine {
		width: 100%;
	}
	
	.arabicLine {
		width: 100%;
	}
	

	.book_title_english_container {
		width: 100%;
		float: none;
	}

	.book_page_colindextitle {
        padding: 20px;
	}

	.hadith_permalink {
        float: none;
		margin-top: 17px;
		padding: 3px 0;
	}

	.hadith_reference {
        padding: 0;
        float: none;
	}	

	.hadith_reference_sticky {
		width: calc(100% + 40px);
		margin: -20px 0 0 -20px;
		padding: 5px 20px 7px;
	}

	.actualHadithContainer {
        padding: 20px;
	}

	.single_hadith .actualHadithContainer {
        padding: 20px;
	}

	.english_hadith_full, .arabic_hadith_full, .hadith_annotation, .hadith_reference, .hadith_permalink, .urdu_hadith_full {
        margin-top: 20px;
	}

	.english_hadith_full:before {
		left: -20px;
	}

	.english_chapter_text, 
	.single_hadith .english_chapter_text {
		padding: 20px 20px 5px;
	}
	
	.single_hadith .hadith_container_hisn .english_hadith_full:before {
		top: 45px;
		left: -30px;
	}

	.single_hadith .hadith_container_hisn .arabic_hadith_full:before {
		top: 10px;
		right: -30px;
	}

	.single_hadith .english_hadith_full:before {
		left: -30px;
	}

	.arabic_hadith_full:before,
	.urdu_hadith_full:before {
		right: -20px;
	}

	.single_hadith .arabic_hadith_full:before,
	.single_hadith .urdu_hadith_full:before {
		right: -30px;
	}

	.english_chapter_text {
		padding: 20px 20px 5px 20px;
	}

	.arabic_chapter_text {
		padding: 5px 20px 20px 20px;
	}
	
	.single_hadith .arabic_chapter_text {
		padding: 5px 20px 20px 20px;
	}

	.boh .searchHadithContainer {
		padding: 20px;
	}	

	.achapintro {
        padding: 5px 20px 20px 20px;
	}

	.echapintro {
        padding: 0px 20px 5px 20px;
	}

	.report_left_column, .report_right_column {
		width: calc(100% - 22px);
	}

	.report_left_column fieldset {
		width: calc(100% - 20px);
	}

	.report_left_column .othererror {
		width: calc(100% - 25px);
	}

	.book_range {
		width: 100%;
		padding: 0;
		box-sizing: border-box;
		text-align: center;
	}
	
    .book_range > div {
        width:auto;
        margin: auto;
        float: none;
	}
	
	.book_range > div {
        display: inline-block;
    }

	.english_book_name {
		width: calc(100% - 42px);
	}

	.arabic_book_name {
		width: calc(100% - 42px);
	}

	/* Books */
	.book_titles {
		width: 100%;
	}
		
	.about {
		padding: 20px;
	}

	.changelog dd {
		text-align: left;
	}

	.square-brackets-quote {
		margin: 0 30px;
	}	

	.taglinecontainer {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding-left: 0;
		padding-right: 0; 
	}
	
	.searchcontainer {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding: 0 20px;
	}	

	.ebookintro { 
		padding: 20px; 
	}
	
	.abookintro { 
		padding: 20px; 
	}

	.menu {
		float: none;
		margin-right: 0;
	}
	
	.footer a {
		padding: 2px 10px;
	}

	.footer .social-icons {
		display: block;
		margin-top: 10px;
	}
	
	.title {
		padding: 10px 20px;
	}

	.chapter_index {
		padding: 20px;
	}

	.chapter_link {
		padding: 10px 0;
	}

	.title .english_chapter_name {
		width: calc(100% - 49px);
	}

	.title .arabic_chapter_name {
		width: calc(100% - 49px);
	}
	
	#site {
        min-width: auto;
		position: relative;
		padding-bottom: 94px;
	}

	.collection_info {
		padding: 20px;
	}
}


@media (max-width: 600px) {
	#searchbar {
		width: calc(100% - 40px);
		max-width: 300px;
    }

	#searchtips {
		top: 34px;
		width: calc(100% + 10px);
		left: 0;
	}	
}


@media (hover: none) {
	.share_mb .copy_btn {
		color: #037d7d;
	}

	.share_mb .share_button .icn-fb{
		background: #3c5b9b;
	}
	.share_mb .share_button .icn-twitter{
		background: #2caae1;
	}
}