@charset "utf-8";
/* CSS Document */

.collection_intro_short {
	padding-left: 20px;
	padding-bottom: 30px;
	width: 80%;
	text-align: justify;
	font-family: Verdana;
	font-size: 12px;
}

.collection_intro_short a{
	text-decoration: none;
    color: #634d22;
}

.collection_intro_short a:hover {
    text-decoration: underline;
}

.collection_intro_short a:visited {
	color: #634614;
	text-decoration:none;
}

.book_title a{
    text-decoration: none;
}

.list_first .list_first_bg {
	/*background-color:#B29774;*/
    background-color: #BEB29E;
	opacity:0.3;
	position:absolute;
	left: 0;
	overflow: hidden;
	width: 100%;
	z-index: 5;
	height: 100%;
	top: 0;
	border: 0px solid;
}
 
.list_first {
	margin:2px;
	font-size:12px;
	position:relative;
	color: #08081a;
	font-weight:bold;
	overflow: auto;
	padding-bottom: 2px;
}
a:visited .list_first {
    color:#5e5e4c;
}
a:hover .list_first {
	color:#29640c;
}

.list_second {
	padding:2px;
	font-weight:bold;
	overflow: auto;
	font-size:12px;
	color:#08081a;
	text-decoration:none;
}
a:visited .list_second {
        color:#5e5e4c;
}

a:hover .list_second {
	color:#29640c;
}

a .english_book_name {
	text-decoration: none;
	display: inline;
	float: left;
	padding-left: 4px;
	padding-top: 2px;
	margin-top: auto;
	font-size: 13px;
	max-width: 70%;
	z-index: 6;
}

a .list_first .english_book_name {
	position: relative;
	top: 0; 
	left: 0;
	z-index: 6;
}
a .list_first .arabic_book_name {
	position: relative;
	top: 0; 
	left: 0;
	z-index: 6;
}


a .arabic_book_name {
	display: inline;
	float: right;
	font-size:17px;
	direction: rtl;
	text-align: right;
	padding-right: 4px;
	width: auto;
	font-family: 'Trebuchet MS', Arial, Helvetica;
}

.left_content{
	width:45%;
	float: left;
	/*background-image:url(../images/vline.jpg);
	background-repeat:repeat-y;
	background-position:right top;*/
	padding-right:5%;
}

.right_content{
	float: right;
	width:45%;
	padding-left:-2px;
}

.bookheading {
	width: 72%;
	margin-right: 20px;
	margin-left: 55px;
	text-align: center;
	clear: both;
	overflow: auto;
	padding-bottom: 0px;
	padding-top: 20px;
}

.englishbookheading {
	float: left;
	width: 49%;
	font-size: 26px;
	border: 0px solid;
	vertical-align: text-top;
}

.arabicbookheading {
	float: right;
	width: 49%;
	font-size: 26px;
	border: 0px solid;
	vertical-align: text-top;
}

.chapter {
	width: 75%;
	background-color: #BFAD97;
	padding-left: 20px;
	padding-right: 20px;
}

.englishchapter {
	float: left;
	max-width: 43%;
	font-size: 18px;
	border: 0px solid;
}

.echapno {
	float: left;
	padding-right: 5px;
	font-size: 20px;
	border: 0px solid;
}

.arabicchapter {
	float: right;
	max-width: 42%;
	font-size: 24px;
	border: 0px solid;
}

.achapno {
	float: right;
	padding-left: 8px;
	font-size: 20px;
	border: 0px solid;
}

.achapintro {
	padding-left: 5%; 
	padding-right:7%; 
	padding-bottom: 10px; 
	padding-top: 15px; 
	font-size: 22px; 
	width: 70%;
	text-align: justify;
}

.echapintro {
	padding-left: 5%; 
	padding-right:7%; 
	padding-bottom: 10px; 
	padding-top: 15px; 
	width: 70%;
	text-align: justify;
}
