
.icn-left:before { content: '\3c'; } /* '&lt;' */
.icn-right:before { content: '\3e'; } /* '&gt;' */
.icn-fb:before { content: '\66'; } /* 'f' */
.icn-github-circled:before { content: '\67'; } /* 'g' */
.icn-share:before { content: '\68'; } /* 'h' */
.icn-ig:before { content: '\69'; } /* 'i' */
.icn-search:before { content: '\6c'; } /* 'l' */
.icn-link:before { content: '\70'; } /* 'p' */
.icn-logo:before { content: '\73'; } /* 's' */
.icn-twitter:before { content: '\74'; } /* 't' */
.icn-up:before { content: '\75'; } /* 'u' */
.icn-lightbulb:before { content: '\e802'; } /* '' */
.icn-home:before { content: '\e803'; } /* '' */