<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^view/(.*)$" ignoreCase="false" />
                    <action type="Redirect" url="/{R:1}" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^muslim/muslim(.*)$" ignoreCase="false" />
                    <action type="Redirect" url="/muslim{R:1}" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^contact/*$" ignoreCase="false" />
                    <action type="Rewrite" url="/contact.php" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                        <add input="{URL}" pattern="^/trac(/|$)" ignoreCase="false" />
                        <add input="{URL}" pattern="^/webalizer(/|$)" ignoreCase="false" />
                        <add input="{URL}" pattern="^/admin(/|$)" ignoreCase="false" />
                        <add input="{URL}" pattern="^/munin(/|$)" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="." ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
