@font-face {
	font-family: "Akzidenz";
	src: local("Akzidenz"), url("/css/fonts/akzidenz-grotesk-light.ttf"); 
}

@font-face {
	font-family: "Akzidenz Roman";
	src: url("/css/fonts/akzidenz-grotesk-roman.eot"); 
	src: local("Akzidenz Roman"),
			 url("/css/fonts/akzidenz-grotesk-roman.eot?#iefix") format('embedded-opentype'),
			 url("/css/fonts/akzidenz-grotesk-roman.woff2") format('woff2'),
			 url("/css/fonts/akzidenz-grotesk-roman.woff") format('woff'),
			 url("/css/fonts/akzidenz-grotesk-roman.ttf") format('truetype');
			 font-display: swap;
}

@font-face {
	font-family: "Akzidenz";
	font-weight: bold;
	src: local("Akzidenz"), url("/css/fonts/akzidenz-grotesk-bold.ttf"); 
}

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/NotoNastaliqUrdu-Regular.eot');
  src: local("Noto Nastaliq Urdu"),
       url('/css/fonts/NotoNastaliqUrdu-Regular.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.woff2') format('woff2'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.woff') format('woff'),
       url('/css/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('/css/fonts/KFGQPCUthmanTahaNaskh.eot');
    src: local('KFGQPC Uthman Taha Naskh'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.woff2') format('woff2'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.woff') format('woff'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.eot');
    src: local('KFGQPC Uthman Taha Naskh Bold'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.woff2') format('woff2'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.woff') format('woff'),
         url('/css/fonts/KFGQPCUthmanTahaNaskh-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('/css/fonts/hindsiliguri-bold-webfont.woff2') format('woff2'),
         url('/css/fonts/hindsiliguri-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('/css/fonts/hindsiliguri-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/hindsiliguri-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}