[data-theme="light"]{
    --global-text-color: none;
    --primary-text-color: #000;
    --secondary-text-color: #666;
    --toolbar-bg-color: rgba(251; 250; 248; 0.2);
    --header-bg: url(../images/banner_small.png);
    --site-bg: url(../images/bg_small.png);
    --footer-bg: url(../images/banner_small.png);
    --collection_sep_box_shadow: 0px 1px 2px 1px rgba(204; 204; 204; 0.5);
    --collection_sep_bg: #ccc;
    --indexserachquery_bg: rgba(255, 255, 255, 0.65);
    --indexserachquery_shadow: 0px 0px 9pt 2pt #ccc;
    --collection_info_bg: rgba(255, 255, 255, 0.5);
    --collection-info_text_color: #666;
    --book_title_odd_bg: rgba(255, 255, 255, 0.6);
    --book_title_even_bg: rgba(255, 255, 255, 0.4);
    --book_rannge_text_color: #666;
    --crumbs_bg: rgba(251, 250, 248, 0.2);
    --searchquery_bg: rgba(255, 255, 255, 0.85);
    --searchquer_shadow: 0px 0px 9pt 2pt #75a1a1;
    --secondry_block_bg: rgba(255, 255, 255, 0.5);
    --hadith_translation_color: #08081a;
    --sidePanel_bg: url(../images/banner_small.png);
    --indexsearchtips_bg: rgba(255, 255, 255, 0.5);
    --sanad_text_color: gray;
    --highlight-color: #deebea;
    --disable_button_bg: #d6d6d6;
    --boh_hover_bg: #ffffff;
    --sticky-color: #90b8b9;
    --link-color: #50a3a3;
    --pager-bg-color: white;
    --flyout-bg-color: rgba(255, 255, 255, 0.5);
}